@font-face {
    font-family: "HindVadodara";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("../fonts/HindVadodara-Light.ttf") format("truetype");
}

@font-face {
    font-family: "HindVadodara";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/HindVadodara-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "HindVadodara";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("../fonts/HindVadodara-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "HindVadodara";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("../fonts/HindVadodara-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "HindVadodara";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/HindVadodara-Bold.ttf") format("truetype");
}
