.permission_view {height:100%; overflow: hidden; font-size: 13px;}
.permission_view a{cursor: pointer;}
.permission_view .permission_rules { width: 250px; height:100%; overflow-y: auto; display: inline-block; border-right: 2px solid #ddd; box-sizing: border-box; padding: 25px 25px 45px;}
.permission_view .elements_container {width: calc(100% - 250px); height:100%; overflow-y: auto; display: inline-block; box-sizing: border-box; padding: 25px 25px 45px;}
.permission_view .buttons {margin-bottom: 10px; text-align: right;}
.permission_view .permission_rule {padding: 5px 30px 5px 15px; margin-bottom: 5px; border: 1px solid #efefef; box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.5); position: relative; cursor: pointer;}
.permission_view .sortable .permission_rule .sort {position: absolute; top: 3px; bottom:3px; left: 2px; border-left: 1px solid #ccc; border-right: 1px solid #ccc; width: 2px; cursor: move;}
.permission_view .sortable .permission_rule.active .sort {border-color: #fff;}
.permission_view .permission_rule.active {background: #0069d9; color: #fff; border-color: #0069d9; cursor: default;}
.permission_view .permission_rule:hover:not(.active) {background: #eff7ff;}
.permission_view .permission_rule .name {font-weight: bold;}
.permission_view .permission_rule .name.editable {cursor: text;}
.permission_view .permission_rule .rule-buttons {position: absolute; top:0px; right: 5px; display: none;}
.permission_view .permission_rule:hover .rule-buttons {display: block;}
.permission_view .permission_rule .rule-buttons a {color: #007bff; display: block; width: 22px; height: 22px; padding:0 !important; text-align: center; overflow: hidden; cursor: pointer; opacity: .7; }
.permission_view .permission_rule .rule-buttons a.delete_rule {color: #ff6c6c !important;}
.permission_view .permission_rule .rule-buttons a:hover {opacity: 1;}
.permission_view .permission_rule.active .rule-buttons a{color:#fff;}
.permission-table {width: 100%;}
.permission-table td {padding: 8px; position: relative;}
.permission-table .element-meta {padding-left: 30px;}
.permission-table .level-2 .element-meta {padding-left: 50px;}
.permission-table .level-3 .element-meta {padding-left: 70px;}
.permission-table .level-4 .element-meta {padding-left: 90px;}
.permission-table .level-5 .element-meta {padding-left: 110px;}
.permission-table .level-6 .element-meta {padding-left: 120px;}
.permission-table .level-7 .element-meta {padding-left: 150px;}
.permission-table .level-8 .element-meta {padding-left: 170px;}
.permission-table .element-meta .toggle {position: absolute; height: 100%; display: block; top: 0px;}
.permission-table tr .element-meta .toggle > .bar:after {content:""; border-left: 1px dotted #aaa; position: absolute; height: 100%; top: 0px; left:-35px;}
.permission-table tr .element-meta .toggle > .bar:nth-last-child(3):after {left:-55px;} 
.permission-table tr .element-meta .toggle > .bar:nth-last-child(4):after {left:-75px;} 
.permission-table tr .element-meta .toggle > .bar:nth-last-child(5):after {left:-95px;} 
.permission-table tr .element-meta .toggle > .bar:nth-last-child(6):after {left:-115px;} 
.permission-table tr .element-meta .toggle > .bar:nth-last-child(7):after {left:-135px;} 
.permission-table tr .element-meta .toggle > .bar:nth-last-child(8):after {left:-155px;}
.permission-table tr.last-1 .element-meta .toggle > .bar:nth-child(1):after,
.permission-table tr.last-2 .element-meta .toggle > .bar:nth-child(2):after,
.permission-table tr.last-3 .element-meta .toggle > .bar:nth-child(3):after,
.permission-table tr.last-4 .element-meta .toggle > .bar:nth-child(4):after,
.permission-table tr.last-5 .element-meta .toggle > .bar:nth-child(5):after,
.permission-table tr.last-6 .element-meta .toggle > .bar:nth-child(6):after,
.permission-table tr.last-7 .element-meta .toggle > .bar:nth-child(7):after{height: 22px;}
.permission-table tr.last-1:not(.level-2) .element-meta .toggle > .bar:nth-child(1):after,
.permission-table tr.last-2:not(.level-3) .element-meta .toggle > .bar:nth-child(2):after,
.permission-table tr.last-3:not(.level-4) .element-meta .toggle > .bar:nth-child(3):after,
.permission-table tr.last-4:not(.level-5) .element-meta .toggle > .bar:nth-child(4):after,
.permission-table tr.last-5:not(.level-6) .element-meta .toggle > .bar:nth-child(5):after,
.permission-table tr.last-6:not(.level-7) .element-meta .toggle > .bar:nth-child(6):after,
.permission-table tr.last-7:not(.level-8) .element-meta .toggle > .bar:nth-child(7):after{display:none;}
.permission-table tr .element-meta .toggle > .bar:nth-last-child(2):before {content:""; border-top: 1px dotted #aaa; position: absolute; top: 22px; left:-35px; width: 25px;}
.permission-table tr.has-child .element-meta .toggle > .bar:nth-last-child(2):before {width: 15px;}
.permission-table .element-meta .toggle-btn {position: absolute; left: -23px; top: 11px; font-size: 16px;}
.permission-table .element-meta .toggle-btn i {display: none; cursor:pointer;}
.permission-table .has-child:not(.collapsed) .element-meta .toggle-btn i.la-minus-square {display: inline;}
.permission-table .has-child.collapsed .element-meta .toggle-btn i.la-plus-square {display: inline;}
.permission-table .has-child .element-meta .toggle:after{content:""; border-left: 1px dotted #aaa; position: absolute; height: calc(100% - 31px); top: 30px; left:-15px;}
.permission-table .has-child.collapsed .element-meta .toggle:after{display:none;}
.permission-table .element-meta > div > span:not(.toggle) + span {margin-left: 5px;}
.permission-table .element-meta .element-icon + span {margin-left: 20px !important;}
.permission-table .element-meta .element-icon {position: relative; text-align: center; width: 30px; color: #aaa;}
.permission-table .element-meta .element-icon > i, .permission-table .element-meta .element-icon > span, .permission-table .element-meta .element-icon > svg{top: 1px !important;color: #aaa !important; left: 8px !important;}
.permission-table .element-meta .element-id {font-style: italic; color: #777; font-size: 70%;}
.permission-table .element-meta .element-id:before{content:"("}
.permission-table .element-meta .element-id:after{content:")";}
.permission-table tbody tr:hover {background:#e8fffe;}
.permission-table tbody tr.support-plugin, .permission-table tbody tr.header {background:#f2f2f2;}
.permission-table tbody tr.header .header-label {line-height: 30px;}
.permission-table tbody tr.support-plugin:hover {background:#c9dfdd;}
.permission-table .authorized {background: #f1fff175; text-align: center; text-transform: uppercase; }
.permission-table .unauthorized {background: #fff5f575; text-align: center; text-transform: uppercase; }
.permission-table th.export, .permission-table td.export {background: #17a2b814; text-align: center; text-transform: uppercase; }
.permission-table .btn-group .btn[disabled] {opacity: 0.3;}
.permission-table .element-class {font-weight: bold; font-size: 10px; position: absolute; top: 0; right: 0; background: #aaa; color: #fff; display: none; padding: 5px 15px; line-height: 13px;}
.permission-table .permission-plugin {padding-left: 20px}
.permission-table .permission-plugin span.name {color: #0069d9; cursor: pointer;} 
.permission-table .permission-comment {font-style: italic; color: #777; font-size: 80%; line-height: 10px;}