.item_usages_container, .item_usages_container .usage_found { padding: 0; list-style: none;}
.item_usages_container .usage_category {border:1px solid rgba(0, 0, 0, 0.125); border-radius: 0.25rem; padding-bottom: 20px;}
.item_usages_container .usage_category + .usage_category {margin-top: 25px;}
.item_usages_container .usage_category h3 {font-size: 13px; padding: 0.75rem 1.25rem; background-color: rgba(0, 0, 0, 0.03); border-bottom: 1px solid rgba(0, 0, 0, 0.125); margin-bottom: 20px;}
.item_usages_container .no_usage h3 {color:#535353; font-size: 13px;}
.item_usages_container ul.app_items { list-style: none; padding-left: 15px;}
.item_usages_container .items {padding-left: 20px; list-style: none; font-size: 13px;}
.item_usages_container .item a {text-decoration: none; font-weight: bold;}
.item_usages_container .item + .item {margin-top: 10px;}
.item_usages_container .item a.found_toggle {display: inline-block; margin-left: 5px; cursor: pointer;}
.item_usages_container pre { background: #efefef; border: 1px solid #ddd; padding: 3px; margin: 3px 0; width: 800px; display: block; font-family: monospace; white-space: pre; font-size: 12px;}
.item_usages_container pre .keyword_highlight {background: yellow;}
#delete_usage_check {height:500px; background: #fff; padding:20px;}
#delete_usage_check #usages {width:100%; height:430px; overflow: auto;}