.item_usages_container, .item_usages_container .usage_found { padding: 0; list-style: none;}
.item_usages_container .usage_category h3, .item_usages_container .no_usage h3 {color:#535353; font-size: 16px; text-transform: uppercase;}
.item_usages_container ul.app_items { list-style: none; padding-left: 15px;}
.item_usages_container .items {padding-left: 20px}
.item_usages_container .item a {text-decoration: none; font-weight: bold;}
.item_usages_container .item a.found_toggle {display: inline-block; margin-left: 5px; cursor: pointer;}
.item_usages_container pre { background: #efefef; border: 1px solid #ddd; padding: 3px; margin: 3px 0; width: 800px; display: block; font-family: monospace; white-space: pre; font-size: 12px;}
.item_usages_container pre .keyword_highlight {background: yellow;}
#delete_usage_check {height:500px; background: #fff;}
#delete_usage_check h2 a.button { color: #fff; background: #777; border-radius: 18px; padding: 3px 5px; display: inline-block; margin: 0 5px; cursor: pointer; font-size: 16px; min-width: 35px; text-align: center;}
#delete_usage_check h2 a.button.confirm { background: red;}
#delete_usage_check #usages {width:100%; height:430px; overflow: auto;}
