.CodeMirror-fullscreen {
  position: fixed !important;
  top: 0 !important; left: 0 !important; right: 0 !important; bottom: 0 !important;
  height: auto !important;
  z-index: 1000 !important;
  font-size:20px !important;
}
