/* Any Preview-label stylings go here */
#preview-label {
    box-sizing: initial;
    position: fixed;
    top: 75px;
    right: -225px;
    width: 230px;
    padding: 10px 210px;
    line-height: 26px;
    font-size: 24px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: "trebuchet ms", verdana, arial, sans-serif;
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(170, 170, 170);
    z-index: 3000;
    opacity: 0.5;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476);
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476)";
}

#preview-label.ie {
    top: -60px;
    right: -150px;
    width: 400px;
    opacity: 1;
    filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476) progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476) progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    zoom: 1;
}

#preview-label.testing {
    background-color: red;
    opacity: 1;
}

#preview-label.testing a {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -140px;
    margin-top: -15px;
    cursor: pointer;
    font-size: 0px;
}

#preview-label.testing a:before {
    content: "\f00d";
    font-family: "Font Awesome 5 Free";
    font-size: 20px;
    font-weight: 800;
}
/* End of Preview Stylings */