/* Any related dialogs go here */
body .ui-dialog {
    border: 0;
    border-radius: 3px !important;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.5);
    z-index: 10001 !important;
}

body .ui-dialog .ui-dialog-content {
    padding: 0 !important;
    overflow: hidden !important;
}

body .ui-dialog-titlebar {
    position: absolute !important;
    top: 0;
    right: 0;
    height: 0px !important;
    width: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
    border: 0;
    z-index: 10001;
}

body .ui-button-text {
    display: none;
}

body .ui-dialog-titlebar-close {
    top: -4px !important;
    right: -11px !important;
    border: 0 !important;
    border-radius: 50% !important;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background: #000000 !important;
    opacity: 0.7;
    display: block;
    overflow: hidden;
    width: 25px !important;
    height: 25px !important;
}

body .ui-dialog-titlebar-close:before {
    display: none !important;
}

body .ui-dialog .ui-dialog-titlebar-close span {
    margin-left: -9px;
    line-height: 13px;
    text-indent: 0px !important;
}

body .ui-icon-closethick {
    background: transparent !important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-weight: 900;
    text-indent: unset !important;
    font-size: 20px;
    width: 20px !important;
    height: 20px !important;
    color: #fff !important;
    text-indent: 0px !important;
}

body .ui-icon-closethick:hover {
    color: #ccc !important;
}

body .ui-icon-closethick:before {
    content: "x";
}

body .ui-widget-overlay {
    height: 1000%;
}

body .ui-front {
    z-index: 500;
}

.ui-html .ui-welcome {
    width: 80%;
    margin: auto;
}

.ui-html .ui-welcome .icon {
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
    clear: left;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

#jqueryDialogDiv {
    overflow: hidden;
}
/* End of Dialog Stylings */