body.show-node-details foreignObject.xray-view.current .cbuilder-node-details {
    display: block !important;
}
body.show-node-details [data-cbuilder-absolute-position] .cbuilder-node-details .cbuilder-node-details-list {
    width: unset;
}
body.show-node-details [data-cbuilder-absolute-position]:hover .cbuilder-node-details {
    bottom: unset;
}
body#cbuilder.default-builder #process-selector + #builder_canvas #iframe-wrapper{
    display: none !important;
}
[data-cbuilder-absolute-position] .cbuilder-node-details{
    visibility: visible !important;
}
#cbuilder #top-panel .btn-group .btn.active{
    color:#fff;
    background-color: var(--theme-active-color-2) !important;
    border-color: var(--theme-primary-color-1) !important;
    color: var(--theme-primary-color-1) !important;
}
#pbuilder-controls-indicator {
    position: fixed;
    right: 50px;
    bottom: 60px;
    z-index: 200;
    background: rgba(0,0,0,0.75);
    color: #fff;
    padding: 10px 12px;
    border-radius: 6px;
    font-size: 12px;
    max-width: 300px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.4);
    height : fit-content;
    width:  fit-content;
    cursor: move
}
#pbuilder-controls-indicator > #pbuilder-controls-header {
    font-weight:600; 
    margin-bottom:6px; 
    color:#fff;
}
#pbuilder-controls-indicator > #pbuilder-controls-body {
    font-size:12px; 
    line-height:1.35; 
    color:#fff; 
    opacity:0.95;
}
#pbuilder-controls-indicator > #pbuilder-controls-body > div {
    margin-bottom:4px;
}
#pbuilder-controls-indicator #pbuilder-controls-close {
    position:absolute; 
    top:3px; 
    right:8px; 
    border:0; 
    background:transparent; 
    color:#fff; 
    font-size:14px; 
    cursor:pointer;
    box-shadow:none
}
.lf-label-overlay .lf-label-editor{
    font-size:14px
}
#cbuilder #builder_canvas #lf-container{
    height: 100%
}
#lf-container .lf-node-content i.previewForm:hover{
    color: rgb(24, 125, 255);
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}
#lf-container .lf-node-content .invalidNodeMessage {
    position: absolute;
    left: 0px;
    width: 100%;
    min-width: 100px;
    color: white;
    background: #ff4d4f;
    z-index: -1;
    font-size: 11px;
    padding: 3px;
    border-radius: 3px;
}
#lf-container .lf-node-content .invalidNodeMessage p {
    margin-bottom: 0;
    color: white;
}
svg.previewForm:hover{
    fill: rgb(24, 125, 255) !important;
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}
.lf-node-text-auto-wrap {
    font-family: "Inter", sans-serif !important;
}
.running_activity rect {
    fill: #ffda6a !important;
    stroke: rgb(255, 193, 7) !important;
    stroke-width: 2px !important;
}
body.readonly g[cursor='pointer']{
    display: none;
}
body[builder-theme='dark'] .lf-background-area {
    background-color: var(--theme-primary-color-1) !important;
}

body[builder-theme='dark'] .lf-mini-map {
    background: var(--theme-primary-color-1);
}

body[builder-theme='dark'] .lf-mini-map .lf-graph {
    background: var(--theme-primary-color-2);
}

body[builder-theme='dark'] .lf-minimap-viewport {
    background-color: rgb(203 198 198 / 24%);
}
