body.show-node-details foreignObject.xray-view.current .cbuilder-node-details {
    display: block !important;
}
body.show-node-details [data-cbuilder-absolute-position] .cbuilder-node-details .cbuilder-node-details-list {
    width: unset;
}
body.show-node-details [data-cbuilder-absolute-position]:hover .cbuilder-node-details {
    bottom: unset;
}
body#cbuilder.default-builder #process-selector + #builder_canvas #iframe-wrapper{
    display: none !important;
}
[data-cbuilder-absolute-position] .cbuilder-node-details{
    visibility: visible !important;
}
#cbuilder #top-panel .btn-group .btn.active{
    color:#fff;
    background-color: var(--theme-active-color-2) !important;
    border-color: var(--theme-primary-color-1) !important;
    color: var(--theme-primary-color-1) !important;
}
.lf-label-overlay .lf-label-editor{
    font-size:14px
}
#cbuilder #builder_canvas #lf-container{
    height: 100%
}
#lf-container .lf-node-content i.previewForm:hover{
    color: rgb(24, 125, 255);
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}
#lf-container .lf-node-content .invalidNodeMessage {
    position: absolute;
    left: 0px;
    width: 100%;
    min-width: 100px;
    color: white;
    background: #ff4d4f;
    z-index: -1;
    font-size: 11px;
    padding: 3px;
    border-radius: 3px;
}
#lf-container .lf-node-content .invalidNodeMessage p {
    margin-bottom: 0;
    color: white;
}
svg.previewForm:hover{
    fill: rgb(24, 125, 255) !important;
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}
.lf-node-text-auto-wrap {
    font-family: "Inter", sans-serif !important;
}
.running_activity rect {
    fill: #ffda6a !important;
    stroke: rgb(255, 193, 7) !important;
    stroke-width: 2px !important;
}
body.readonly g[cursor='pointer']{
    display: none;
}
body[builder-theme='dark'] .lf-background-area {
    background-color: var(--theme-primary-color-1) !important;
}

body[builder-theme='dark'] .lf-mini-map {
    background: var(--theme-primary-color-1);
}

body[builder-theme='dark'] .lf-mini-map .lf-graph {
    background: var(--theme-primary-color-2);
}

body[builder-theme='dark'] .lf-minimap-viewport {
    background-color: rgb(203 198 198 / 24%);
}
