/* Form Grid Stylings */
div.pq-grid * {
    font-size: 13px !important;
}

div:has(.grid) label.label {
    text-align: var(--jgt-grid-labelAlign);
    width: var(--jgt-grid-labelWidth);
    color: var(--jgt-grid-colorTextLabel);
    font-weight: var(--jgt-grid-labelFontWeight);
    font-size: var(--jgt-grid-labelFontSize);
}

.grid {
    color: var(--jgt-grid-colorText);
}

.grid table {
    width: 100%;
}

.grid table td {
    vertical-align: top;
    padding-top: var(--jgt-grid-tableBodyPaddingTop);
    padding-bottom: var(--jgt-grid-tableBodyPaddingBottom);
    font-weight: var(--jgt-grid-tableBodyFontWeight);
    font-size: var(--jgt-grid-tableBodyFontSize);
}

.grid table th,
.grid table td {
    border-top: 1px var(--jgt-grid-lineType) var(--jgt-grid-colorBorder) !important;
    border-bottom: 1px var(--jgt-grid-lineType) var(--jgt-grid-colorBorder);
    margin: 0px;
    color: var(--jgt-grid-colorText);
}

.grid table tbody tr {
    border-color: var(--jgt-grid-colorBorder);
    border-style: var(--jgt-grid-lineType); 
}

.grid table th, .grid .tablesaw thead tr:first-child th {
    border-bottom: 2px var(--jgt-grid-lineType) var(--jgt-grid-colorBorder) !important;
    padding-top: var(--jgt-grid-tableHeaderPaddingTop);
    padding-bottom: var(--jgt-grid-tableHeaderPaddingBottom);
    font-weight: var(--jgt-grid-tableHeaderFontWeight);
    font-size: var(--jgt-grid-tableHeaderFontSize);
}

.grid table .grid-action-header,
.grid table .grid-action-cell {
    width: 100px;
    text-align: right;
}

.grid table .grid-row-template {
    display: none;
}

.grid table .grid-cell,
.grid table .grid-cell form,
.grid table .grid-cell[column_editable='yes'] {
    display: block;
}

.grid table .grid-cell[column_editable='yes'].editable_empty {
    color: gray;
}

.grid a.grid-action-add,
.grid table td.grid-action-cell a {
    display: inline-block;
    font-family: "Font Awesome 5 Free";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    font-weight: 900;
    text-rendering: auto;
    color: var(--jgt-grid-colorText);
    padding: 0 3px;
}

.grid button.btn.grid-action-add {
    background-color: var(--jgt-grid-colorBgAdd, var(--jgt-btn-colorPrimary)) !important;
    border-color: var(--jgt-grid-borderAddButton, var(--jgt-btn-colorPrimary)) !important;
    color: var(--jgt-grid-colorAddButton, var(--jgt-btn-primaryColor)) !important;
    font-weight: var(--jgt-grid-addButtonFontWeight, var(--jgt-btn-fontWeight)) !important;
}

.grid .btn.delete_btn {
    margin-bottom: .25rem;
    background-color: var(--jgt-grid-colorBgDelete, var(--jgt-btn-bg));
    border-color: var(--jgt-grid-borderDeleteButton, var(--jgt-btn-border-color))  !important;
    color: var(--jgt-grid-colorDeleteButton, var(--jgt-btn-color));
    font-weight: var(--jgt-grid-deleteButtonFontWeight, var(--jgt-btn-fontWeight));
}

.grid .btn.delete_btn:focus, .grid .btn.delete_btn:active {
    box-shadow: none !important;
}

.grid .grid-action-add,
.grid table tr:hover td.grid-action-cell a {
    opacity: 0.5;
}

.grid table tr:hover td.grid-action-cell a.grid-action-delete {
    color: #dc3545 !important;
}

.grid table tr:hover td.grid-action-cell a.disabled {
    color: #ced4da !important;
}

.grid a.grid-action-add span,
.grid table tr td.grid-action-cell a span {
    display: none !important;
}

.grid table .grid-action-edit:after {
    content: '\f304';
}

.grid table .grid-action-delete:after {
    content: '\f00d';
}

.grid table .grid-action-moveup:after {
    content: '\f077';
}

.grid table .grid-action-movedown:after {
    content: '\f078';
}

.grid.readonly .grid-action-edit:after {
    content: '\f15c';
}

.grid:not(.enableSorting) a.grid-action-moveup,
.grid:not(.enableSorting) a.grid-action-movedown,
.grid.readonly.enableSorting a.grid-action-moveup,
.grid.readonly.enableSorting a.grid-action-movedown,
.grid.readonly a.grid-action-add,
.grid.readonly a.grid-action-delete,
.grid.disabledAdd a.grid-action-add,
.grid.disabledDelete a.grid-action-delete {
    display: none;
}

.grid .pg-navigator {
    text-align: right;
    padding: 10px 0;
    margin-bottom: 0;
    color: var(--jgt-grid-colorText);
}

.grid .pg-navigator .pg-current {
    font-weight: bold;
}

.grid table tr.pg-tr-hide {
    display: none;
}

.grid table+.pg-navigator+.grid-action-add {
    position: absolute;
    bottom: 0px;
}
/* End of Form Grid Stylings */