/* Any dropzone, uploads stylings go here */
.dropzone {
    padding: 0px 20px !important;
}

.form-fileupload.dropzone {
    border: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    font-weight: 400;
    line-height: var(--jgt-upload-lineHeight);
    color: var(--jgt-upload-colorText);
    background-clip: padding-box;
    padding: 0px !important;
}

.form-fileupload.dropzone > .needsclick {
    min-height: var(--jgt-upload-controlHeightLG);
    width: 100%;
    margin: 0px 0px;
    padding: 10px 12px !important;
    background-color: var(--jgt-upload-colorFillAlter);
    border-radius: var(--jgt-upload-borderRadiusLG);
    border: var(--jgt-upload-lineWidth) var(--jgt-upload-lineType) var(--jgt-upload-colorBorder);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}

.form-fileupload.readonly ul.form-fileupload-value {
    padding: 0px;
}

ul.form-fileupload-value:not(:has(li)) {
    display: none;
}

ul.form-fileupload-value {
    margin: 0px 0px;
}

.form-fileupload.dropzone > ul > li {
    --jgt-upload-lineType: solid;

    padding: 9px 12px;
    border: var(--jgt-upload-lineWidth) var(--jgt-upload-lineType) var(--jgt-upload-colorBorder);
    border-radius: var(--jgt-upload-borderRadiusLG);
}

/* Single File/Image Upload */
.form-fileupload.dropzone:not(.multiple):has(ul.form-fileupload-value li) {
    --jgt-upload-colorFillAlter: #FFFFFF;
    --jgt-upload-lineWidth: 1px; 
    --jgt-upload-lineType: solid; 
    --jgt-upload-colorBorder: #D9D9D9;
}

.form-fileupload.dropzone:not(.multiple):has(input[type="file"]):has(ul.form-fileupload-value li) > .needsclick {
    display: none;
}

/* Multiple */
.form-fileupload.dropzone.multiple:has(ul.form-fileupload-value li) > .needsclick,
.form-fileupload.dropzone.multiple > ul > li + li {
    margin-top: 6px;
}

.form-fileupload.dropzone.multiple > ul {
    padding: 0px;
}

.form-fileupload a.remove {
    color: #f8d7da;
}

.form-fileupload-value {
    list-style: none;
    padding: 0;
}

.form-fileupload-value > li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 5px;
}

.form-fileupload-value > li > .error:empty {
    display: none;
}

.form-fileupload-value > li > span.name {
    flex: 1 1 auto;
    min-width: 0; 
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.form-fileupload-value li+li {
    margin-top: 5px;
}

.form-fileupload-value li img {
    border: 1px solid #ced4da;
}
/* End of Upload Stlings go here */