body {
    scrollbar-color: rgba(0, 0, 0, 0.1) #fff;
    scrollbar-width: thin; }
body::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background-color: rgba(255, 255, 255, 0.15);
    -webkit-box-shadow: none; }
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.05); }
body::-webkit-scrollbar-thumb {
    background-color: rgba(78, 100, 117, 0.5);
    outline: 1px solid rgba(78, 100, 117, 0.5); }
body:after{
    content: "";
    position: fixed;
    display:none;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 999999999;
    background: #fff;
    opacity: 0.7;
    transition: 0.5s display ease-in-out; 
}
body.initializing:after{
    display: block;
}
body.is-dragging [data-cbuilder-droparea] {
    min-height: 50px;
    min-width: 50px;
    position: relative;
}
body.is-dragging *{
    cursor: move !important;
}
body.is-dragging [data-cbuilder-droparea]:after {
    content: "";
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    pointer-events: none;
    background: repeating-linear-gradient( 45deg, #606dbc52, #606dbc52 10px, #ffffff52 10px, #ffffff52 20px);
    opacity: 0.3;
    display: block;
    border:3px solid #606dbc52;
}
body.is-dragging [data-cbuilder-droparea] [data-cbuilder-droparea]:after {
    background: #000;
    opacity: 0.05;
    border:3px solid #606dbc;
}
body.is-dragging [data-cbuilder-droparea][data-cbuilder-droparea-msg]:after {
    content: attr(data-cbuilder-droparea-msg);
    color: #606dbc;
    text-align: center;
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    font-weight: normal;
}
body [data-cbuilder-replicate] {
    opacity: 0.5;
    pointer-events: none !important;
}
body.is-dragging [data-cbuilder-replicate] *{
    pointer-events: none !important;
}
body.is-dragging [data-cbuilder-replicate] [data-cbuilder-droparea]:after,
body.is-dragging [data-cbuilder-dragelement] [data-cbuilder-droparea]:after {
    display: none !important;
}
body.screenshot-in-progress .screenshot-hidden,
body.screenshot-in-progress [data-cbuilder-element-invisible],
body.screenshot-in-progress [data-cbuilder-invisible] {
    display:none;
}
body.is-dragging [data-cbuilder-single] [data-cbuilder-dragelement] ~ [data-cbuilder-classname],
* + [data-cbuilder-sample]{
    display: none !important;
}
[data-cbuilder-sample] {
    opacity: 0.5;
}
[data-cbuilder-disabled] {
    pointer-events: none;
    position: relative; }
[data-cbuilder-disabled]::after {
    content: "Non-editable area";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    padding-top: 5px;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
    background: rgba(252, 252, 252, 0.85);
    border: 1px dashed #999;
    overflow: hidden;
    display: flex;
    align-items: center;}
[data-cbuilder-classname][data-cbuilder-noncontainer]:not([data-cbuilder-visible]):not([data-cbuilder-ignore-dragging]):not([data-cbuilder-uneditable]){
    position: relative;
}
[data-cbuilder-classname][data-cbuilder-noncontainer]:not([data-cbuilder-visible]):not([data-cbuilder-ignore-dragging]):not([data-cbuilder-uneditable]):not([data-cbuilder-inlineedit-element]):after{
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}
body [data-cbuilder-invisible],
body [data-cbuilder-element-invisible]{
    min-height: 35px;
    position: relative;
}
body [data-cbuilder-missing-plugin]{
    position: relative;
}
body [data-cbuilder-missing-plugin]::after,
body [data-cbuilder-element-invisible]::after,
body [data-cbuilder-invisible]::after,
body [data-cbuilder-desktop-invisible]::after,
body [data-cbuilder-mobile-invisible]::after,
body [data-cbuilder-tablet-invisible]::after {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    padding-top: 5px;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
    background: rgba(252, 252, 252, 1);
    background-image: url(../js/line-awesome-1.3.0/svg/eye-slash.svg);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center;
    opacity: 0.5;
    border: 1px dashed #999;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center; }
body [data-cbuilder-invisible][data-cbuilder-label]::after{
    content: attr(data-cbuilder-label) !important;
    justify-content: left; 
    padding-left: 15px;
}
body [data-cbuilder-missing-plugin]::after {
    background-color: #ffd6d6 !important;
    border: 1px dashed #f00 !important;
    color:#f00 !important;
}
body.show-node-details [data-cbuilder-element-invisible]::after,
body.show-node-details [data-cbuilder-invisible]::after,
body.show-node-details [data-cbuilder-desktop-invisible]::after,
body.show-node-details [data-cbuilder-mobile-invisible]::after,
body.show-node-details [data-cbuilder-tablet-invisible]::after{
    background-position: center 85%;
}
body.show-node-details [data-cbuilder-invisible]{
    padding-bottom: 35px;
}
body.show-node-details [data-cbuilder-classname]:not([data-cbuilder-absolute-position]),
body.show-node-details [data-cbuilder-select]:not([data-cbuilder-absolute-position]){
    min-width: 200px;
    max-width: 100%;
}
body.show-node-details.show-node-details-single .cbuilder-node-details:not(.current){
    display:none;
}
.cbuilder-node-details-list > dd {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.cbuilder-node-details-list > dd:hover {
    overflow: visible;
    white-space: normal;
}
.cbuilder-node-details-list > dd > br {
    display: none;
}
.cbuilder-node-details-list > dd > div {
    padding: 0 !important;
}
.cbuilder-node-details-list {
    text-align: left;
    font-size: 11px;
    z-index: 1;
}
body.is-dragging [data-cbuilder-dragelement] {
    border-top: 1px dashed #4285f4 !important;
    border-bottom: 1px dashed #4285f4 !important;
    border-right: 1px dashed #4285f4 !important;
    border-left: 1px dashed #4285f4 !important;
    position: relative;
}
body.is-dragging [data-cbuilder-dragelement]:after {
    content: "";
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom:0;
    background: #ffffff;
    opacity: 0.1;
}
@media (min-width: 992px) {
    body:not(.show-node-details) [data-cbuilder-mobile-invisible]::after,
    body:not(.show-node-details) [data-cbuilder-tablet-invisible]::after {
        display:none;
    }
    body:not(.show-node-details) [data-cbuilder-desktop-invisible]{
        min-height: 20px;
        position: relative;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    body:not(.show-node-details) [data-cbuilder-mobile-invisible]::after,
    body:not(.show-node-details) [data-cbuilder-desktop-invisible]::after {
        display:none;
    }
    body:not(.show-node-details) [data-cbuilder-tablet-invisible]{
        min-height: 20px;
        position: relative;
    }
}
@media (max-width: 767px) {
    body:not(.show-node-details) [data-cbuilder-tablet-invisible]::after,
    body:not(.show-node-details) [data-cbuilder-desktop-invisible]::after {
        display:none;
    }
    body:not(.show-node-details) [data-cbuilder-mobile-invisible]{
        min-height: 20px;
        position: relative;
    }
}
.form-cell[data-cbuilder-invisible] {
    display: flex !important;
}
.content-placeholder{
    background-image: url(icons/content_loader.svg);
    background-repeat: no-repeat;
    background-size: 90% auto;
    background-position: center 100px;
    padding-bottom: 50%;
    box-sizing: border-box;
    max-height: 150px;
}
.form-floating-label{
    display:none !important;
}
.cbuilder-node-details-reset-margin-top {
    margin-top: 0 !important;
}
.cbuilder-node-details{
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    display: block;
}
[data-cbuilder-absolute-position] .cbuilder-node-details{
    position: absolute;
    min-width: 200px;
    max-width: auto;
    bottom:100%;
    opacity: 0.6;
}
body.show-node-details [data-cbuilder-absolute-position]:hover{
    z-index: 999999;
}
body.show-node-details [data-cbuilder-absolute-position]:hover .cbuilder-node-details{
    bottom: calc(100% + 24px);
    opacity: 1;
}
body.show-node-details [data-cbuilder-absolute-position] .cbuilder-node-details .cbuilder-node-details-list{
    width: 100%;
}
[data-cbuilder-inlineedit] {
    padding: 5px;
} 
.cbuilder-node-details-list, .cbuilder-node-details-box{
    position:absolute;
    top:0;
    left:0;
}
.cbuilder-node-details-list {
    color: #fff;
    margin: 0;
    line-height: 13px;
    padding: 5px 5px;
    font-weight: normal;
}
.cbuilder-node-details-box {
    border: 1px dashed #ffab00;
}
.cbuilder-node-details dl dt {
    float: left;
    clear: left;
    padding-right: 5px;
}
.cbuilder-node-details dl dd:last-child{
    margin-bottom: 0;
}
.cbuilder-node-details a{
    cursor: pointer;
}
.cbuilder-node-details .btn-group .btn{
    font-size: 80%;
    padding: 3px 5px;
}
.cbuilder-node-details .btn-group .btn[disabled]{
    text-decoration: line-through;
}
.cbuilder-node-details-color0 > .cbuilder-node-details-list {
    background: #165077;
}
.cbuilder-node-details-color1 > .cbuilder-node-details-list {
    background: #62929e;
}
.cbuilder-node-details-color2 > .cbuilder-node-details-list {
    background: #546a7b;
}
.cbuilder-node-details-color3 > .cbuilder-node-details-list {
    background: #744F5D;
}
.cbuilder-node-details-color4 > .cbuilder-node-details-list {
    background: #50476B;
}
.cbuilder-node-details-color5 > .cbuilder-node-details-list {
    background: #935B3B;
}
.cbuilder-node-details-color6 > .cbuilder-node-details-list {
    background: #83664F;
}
.cbuilder-node-details-color7 > .cbuilder-node-details-list {
    background: #372D3F;
}
.cbuilder-node-details-color8 > .cbuilder-node-details-list {
    background: #14395C;
}
.cbuilder-node-details-color9 > .cbuilder-node-details-list {
    background: #212F22;
}
.cbuilder-node-details-color10 > .cbuilder-node-details-list {
    background: #50808D;
}
.ui-tooltip {
    opacity: 1;
    background: #000;
    border-radius: 0;
    font-size: 11px;
    color:#fff;
    border:0;
    padding: 2px 5px;
    z-index: 1000;
}

/* scrollbar */
* {
    scrollbar-color: rgba(0, 0, 0, 0.1) #fff;
    scrollbar-width: thin; 
}
*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-box-shadow: none; 
}
*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.05); 
}
*::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.15);
    outline: 1px solid slategrey; 
}
[data-cbuilder-classname] a:not([data-cbuilder-classname]),
[data-cbuilder-classname] button:not([data-cbuilder-classname]),
[data-cbuilder-classname] input:not([data-cbuilder-classname]),
[data-cbuilder-classname] textarea:not([data-cbuilder-classname]),
[data-cbuilder-classname] select:not([data-cbuilder-classname]){
    pointer-events: none;
}

span.missing-plugin {
    animation: alert-glowing 2000ms infinite;
}

.show-node-details .dataList tbody td.rowActions div{
    min-width: 200px
}

.clear-float {
    clear: both;
    height: 0 !important;
    display: block !important;
}

body[builder-theme] .cbuilder-node-details-list {
    font-weight: 500;
    font-size: 13px;
}

@keyframes alert-glowing {
  0% {
    color: #ffd6d6;
  }
  50% {
    color: #ff5656;
  }
  100% {
    color: #ffd6d6;
  }
}
