#presence {
    position: fixed;
    right: 5px;
    top: 1px;
    width: auto;
    z-index: 500;
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: unset;
    box-sizing: unset;
}
body.rtl #presence{
    right: auto;
    left: 5px;
}
#presence img.gravatar {
    width: 30px;
    height: 30px;
}
#presence li {
    background: white;
    border: solid 1px black;
    box-shadow: #555 1px 1px 1px;
    margin: 2px;
    padding: 0px;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    text-align: center;
    overflow: hidden;
    -webkit-box-sizing: unset;
    box-sizing: unset;
    position: absolute;
    right: 0;
    opacity: 0.5;
}
#presence li:last-child{
    opacity: 1;
}
#presence:hover li {
    display: inline-block;
    position: relative;
    right: auto !important;
    transition: ease-in-out;
    transform:scale(1.5);
    transform-origin:top right;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 3px;
    opacity: 1;
}
body.rtl #presence li {
    float: left;
}
body.rtl #presence:hover li {
    transform-origin:top left;
    margin-right: 15px;
    margin-left: 3px;
}
#presence span.username {
    position: relative;
    top: -10px;
    left: 15px;
    transform:translateX(-50%);
    font-size: 8px;
    line-height: 10px;
    background: black;
    color: white;
    display: block;
    height: 10px;
    width: 30px;
    opacity: 0.7;
}
body.rtl #presence span.username {
    left: auto;
    right: -5px;
}
@media screen and (max-width:680px) {
    #presence {
        right: 5px;
        top: 45px;
    }
    body.rtl #presence {
        right: auto;
        left: 5px;
    }
    #presence li {
        width: 15px;
        height: 15px;
    }
}
