<!--{sampleWidth: '100%', tags: 'basic'}-->
<style>
  .login-container-1 {
    display: flex;
    height: 100%;
    background-color: {{bgColor||#FFF}} !important;
    padding: 0px;
  }
  .login-form-1 {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 25px;
    padding-left: 25px;
  }
  .login-form-1 form {
    width: 100%;
    max-width: 400px;
    float: unset !important;
    text-align:left !important;
  }
  .login-image-1 {
    flex: 1;
    background-image: url('{{image||#request.contextPath#/images/loginTemplate/building.jpg}}');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: right top;
  }
  .login-form-1 .form-group {
    border: 1px solid #efefef !important;
    padding: 15px 15px !important;
  }
  .login-form-1 .form-group .form-label{
    font-size: 12px !important;
  }
  .login-form-1 .form-group input{
    border: none !important;
    font-size:20px !important;
    background-color:transparent !important;
    padding: 0px 10px !important;
    float: unset !important;
    text-align:left !important;
  }
  .login-form-1 input#customUsername::placeholder{
    color: {{usernamePlaceholderColor||#fff}} !important;
  }
  .login-form-1 input#customPassword::placeholder{
    color: {{passwordPlaceholderColor||#fff}} !important;
  }
</style>
<div class="container-fluid login-container-1">
<div class="login-form-1">
  <form>
    <h2 class="mb-1" style="color:{{titleColor||#495057}}">{{title||Sign In}}</h2>
    <p class="mb-4" style="color:{{subtitleColor||#b3b3b3}}">{{subtitle||Welcome back!}}</p>
    <div class="form-group my-0">
      <label for="username" class="form-label" style="color:{{customUsernameColor||black}};">{{customUsername||@@ubuilder.login.username@@}}</label>
      <input type="text" class="form-control w-100" id="customUsername" placeholder="Username">
    </div>
    <div class="form-group mb-3">
      <label for="password" class="form-label" style="color:{{customPasswordColor||black}};">{{customPassword||@@ubuilder.login.password@@}}</label>
      <input type="password" class="form-control w-100" id="customPassword" placeholder="Password">
    </div>
    <button type="button" class="btn btn-primary w-100" id="loginButton" style="height:54px;background-color:{{btnColor||#007bff}};border:none;color:{{btnTextColor||#fff}}">{{btnText||Login}}</button>
  </form>
</div>
<div class="login-image-1 d-none d-md-block"></div>
</div>
<!---->

<!--{sampleWidth: '100%', tags: 'transparent'}-->
<style>
  .login-container-2 {
      display: flex;
      height: 100%;
      position: relative;
      background-image: url('{{image||#request.contextPath#/images/loginTemplate/city.jpg}}'); 
      background-size: cover;
      background-position: center;
      overflow: hidden; 
    }
  .login-container-2::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: -webkit-linear-gradient({{direction||bottom}},{{colorGradientOne||#005bea}},{{colorGradientTwo||#00c6fb}});
      opacity: 0.9;
      pointer-events: none; 
    }
  .login-form-2 {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    width: 100% !important;
    max-width: 400px !important;
    background-color: transparent !important;
    border:none;
  }
  .login-form-2 button {
    background-color: {{btnColor||#333}} !important;
    border:none !important;
    height:50px !important;
    border-radius: 25px !important;
    font-weight: 700 !important;
    color: {{btnTextColor||#fff}} !important;
  }
  .login-card-2 {
    padding: 20px;
  }
  .input-container-2 {
    position: relative !important;
    margin-bottom: 1rem !important;
  }
  .icon-2 {
    position: absolute !important;
    left: 30px !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
    color: #999 !important;
    font-size:15px!important;
  }
  .login-card-2 form input{
    padding-left: 50px !important;
    height: 50px !important;
    border-radius:25px !important;
    font-size:15px!important;
    float: unset !important;
    text-align:left !important;
    background-color: #fff !important;
    border: none !important;
  }
  .login-card-2 form input::placeholder{
    color: #333 !important;
  }
  .login-card-2 .input-container-2 input:focus + .icon-2{
    left: 25px !important;
    color: rgba(0,91,234,0.6) !important;
    transition-duration: 1s;
  }
  .login-card-2 input#customUsername::placeholder{
    color: {{usernamePlaceholderColor||#333}} !important;
  }
  .login-card-2 input#customPassword::placeholder{
    color: {{passwordPlaceholderColor||#333}} !important;
  }
</style>
<div class="container-fluid login-container-2">
  <div class="card login-form-2 login-card-2">
    <form>
      <h2 class="mb-4 text-center" style="color:{{titleColor||#fff}}; font-weight: 900">{{title||Enter your credentials}}</h2>
      <div class="mb-3 input-container-2">
        <input type="text" class="form-control w-100" id="customUsername" style="color:{{customUsernameColor||#333}}" placeholder="{{customUsername||@@ubuilder.login.username@@}}">
        <i class="fa fa-user icon-2"></i>
      </div>
      <div class="mb-3 input-container-2">
        <input type="password" class="form-control w-100" id="customPassword" style="color:{{customPasswordColor||#333}}" placeholder="{{customPassword||@@ubuilder.login.password@@}}">
        <i class="fas fa-lock icon-2"></i>
      </div>
      <button type="button" class="btn btn-primary w-100" id="loginButton">{{btnText||Login}}</button>
    </form>
  </div>
</div>
<!---->

<!--{sampleWidth: '100%', tags: 'fullBackground'}-->
<style>
  .login-container-3 {
    display: flex;
    height: 100%;
    background-image: url('{{image||#request.contextPath#/images/loginTemplate/devices.jpg}}'); 
    background-size: cover;
    background-position: center;
  }
  .login-form-3 {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    border: 2px solid rgba(255,255,255,0.1);;
    width: 80% !important;
    min-width: 200px !important;
    max-width: 400px !important;
    background: {{cardColor||rgba(255,255,255,0.13);}} !important;
    border-radius: 16px !important;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1) !important;
    backdrop-filter: blur(10px) !important;
  }
  .login-form-3 form{
    width: 100% !important;
    float: unset !important;
    text-align:left !important;
  }
  .login-form-3 button {
    background-color: {{btnColor||##007bff}} !important;
    height: 50px !important;
    color: {{btnTextColor||#fff}} !important;
    font-size: 18px;
    font-weight: 600;
    border: none;
  }
  .login-card-3 {
    padding: 50px 35px;
  }
  .login-card-3 label{
    font-size: 16px !important;
    font-weight: 500 !important;
  }
  .login-card-3 input{
    font-size: 14px !important;
    font-weight: 300 !important;
    border: none !important;
    background-color: rgba(255,255,255,0.07) !important;
    height: 50px !important;
    float: unset !important;
    text-align:left !important;
  }
  .login-card-3 input#customUsername::placeholder{
    color: {{usernamePlaceholderColor||#fff}} !important;
  }
  .login-card-3 input#customPassword::placeholder{
    color: {{passwordPlaceholderColor||#fff}} !important;
  }
</style>
<div class="container-fluid login-container-3">
  <div class="card login-form-3 login-card-3 d-flex align-items-center justify-content-center" style="height:fit-content;">
    <form>
      <h2 class="mb-4 text-center" style="color:{{titleColor||#fff}}">{{title||Login Here}}</h2>
      <div class="mb-3">
        <label for="username" class="form-label" style="color:{{customUsernameColor||#fff}}">{{customUsername||@@ubuilder.login.username@@}}</label>
        <input type="text" class="form-control w-100" id="customUsername" placeholder="Username">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label" style="color:{{customPasswordColor||#fff}}">{{customPassword||@@ubuilder.login.password@@}}</label>
        <input type="password" class="form-control w-100" id="customPassword" placeholder="Password">
      </div>
      <button type="button" class="btn btn-primary w-100" id="loginButton">{{btnText||Login}}</button>
    </form>
  </div>
</div>
<!---->

<!--{sampleWidth: '100%', tags: 'columns'}-->
<style>
  .login-container-4 {
    display: flex !important;
    height: 100% !important;
    background-size: cover !important;
    background-position: center !important;
    background-color: {{bgColor||#f8f9fd}};
  }
  .login-form-4 {
    width: 80% !important;
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    background: {{cardColor||rgba(255, 255, 255, 0.8)}} !important;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1) !important;
  }
  .input-container-4 {
    position: relative !important;
    margin-bottom: 1rem !important;
  }
  .login-form-4 input {
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
    background: rgba(255,255,255,0.1) !important;
    padding-right: 40px !important;
    height: 48px !important;
    float: unset !important;
    text-align:left !important;
  }
  .login-form-4 button {
    color: {{btnTextColor||#fff}} !important;
    background-color: {{btnColor||#007bff}} !important;
    border: none;
    height: 48px;
  }
  .login-form-4 .img {
    background-image: url('{{image||#request.contextPath#/images/loginTemplate/high_building.jpg}}');
    width:50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  } 
  .login-form-4 form {
    padding: 3rem !important;
    width: 50% !important;
    float: unset !important;
    text-align:left !important;
  }  
  .login-form-4 form label {
    text-transform: uppercase !important;
  } 
  .login-form-4 input#customUsername::placeholder{
    color: {{usernamePlaceholderColor||#fff}} !important;
  }
  .login-form-4 input#customPassword::placeholder{
    color: {{passwordPlaceholderColor||#fff}} !important;
  }
  @media only screen and (max-width: 768px) {
    .login-form-4 form {
        width:100% !important;
    }
  }
</style>
<div class="container-fluid login-container-4">
      <div class="login-form-4">
        <div class="row" style="margin:0;">
        <div class="col" style="padding:0;">
            <div class="wrap d-md-flex">
                <div class="img"></div>
                <form style="padding: 3rem;">
                    <h2 class="mb-4" style="color:{{titleColor||#000}};font-weight:400">{{title||Sign in}}</h2>
                    <label style="color:{{customUsernameColor||black}};font-weight:700">{{customUsername||@@ubuilder.login.username@@}}</label>
                    <div class="mb-3 input-container-4">
                      <input type="text" class="form-control w-100" id="customUsername" placeholder="Username">
                    </div>
                    <label style="color:{{customPasswordColor||black}};font-weight:700">{{customPassword||@@ubuilder.login.password@@}}</label>
                    <div class="mb-3 input-container-4">
                      <input type="password" class="form-control w-100" id="customPassword" placeholder="Password">
                    </div>
                    <button type="button" class="btn btn-primary w-100" id="loginButton">{{btnText||Login}}</button>
                  </form>
            </div>
        </div>
      </div>
    </div>
</div>
<!---->

<!--{sampleWidth: '100%', tags: 'carousel'}-->
<style>
  .login-container-5 {
    display: flex !important;
    height: 100% !important;
    background-size: cover !important;
    background-position: center !important;
    color: black;
    background-color: {{bgColor||#f8f9fd}};
  }
  .login-form-5 {
    width: 80% !important;
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    background: {{cardColor||rgba(255, 255, 255, 0.8)}} !important;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1) !important;
    height: 70% !important;
  }
  .input-container-5 {
    position: relative !important;
    margin-bottom: 1rem !important;
  }
  .login-form-5 input {
    background: rgba(255,255,255,0.1) !important;
    height:50px !important;
    border-radius: 25px !important;
    background-color: rgba(0, 0, 0, 0.05) !important;
    float: unset !important;
    border-color: #fff !important;
    padding: 2px 10px !important;
    text-align:left !important;
  }
  .login-form-5 input::placeholder {
    color: rgba(0, 0, 0, 0.5) !important;
  }
  .login-form-5 form {
    float: unset !important;
    text-align:left !important;
  }
  .login-form-5 label {
    font-size: 12px !important;
  }
  .login-form-5 form button {
    border-radius: 25px !important;
    border-color: {{btnColor||#0067FF}} !important;
    background-color: {{btnColor||#0067FF}} !important;
    border: none;
    height: 48px !important;
  }
  .car-5 .carousel-indicators button.active{
    background-color: #808080;
    border: 1px solid #fff;
  }
  .car-5 .carousel-inner img {
    width: 100%;
    height: auto;
  }
  .car-5 .carousel-control-prev, .carousel .carousel-control-next {
    display:none;
  }
  .car-5 .carousel-indicators button{
    background-color: #fff;
    border: none;
    margin-bottom: 5px;
  }
  .login-form-5 .carousel .carousel-inner .carousel-background {
      background-repeat: no-repeat;
  	  background-size: cover;
  	  height: 100%;
  } 
  .login-form-5 .carousel .carousel-inner .carousel-caption {
    filter: contrast(85%) !important;
  }
  .login-form-5 .carousel .carousel-inner .carousel-caption {
    background-color: rgba(0, 0, 0, 0.4) !important;
    width: 100% !important;
    bottom: 0px !important;
    left:0px !important;
  }
  .login-card-5 input#customUsername::placeholder{
    color: {{usernamePlaceholderColor||#fff}} !important;
  }
  .login-card-5 input#customPassword::placeholder{
    color: {{passwordPlaceholderColor||#fff}} !important;
  }
</style>
<div class="container-fluid login-container-5">
      <div class="login-form-5">
        <div class="row h-100" style="margin:0">
          <div class="col-sm-12 col-md-6 p-4 p-lg-5 d-flex align-items-center justify-content-center h-100">
            <form style="width:100%;">
              <h2 class="mb-4" style="color:{{titleColor||#000000}}; font-weight:200;">{{title||Login}}</h2>
              <div class="mb-3 input-container-5">
                <label style="color:{{customUsernameColor||#000}}">{{customUsername||@@ubuilder.login.username@@}}</label>
                <input type="text" class="form-control w-100" id="customUsername" placeholder="Username">
              </div>
              <div class="mb-3 input-container-5">
                <label style="color:{{customPasswordColor||#000}}">{{customPassword||@@ubuilder.login.password@@}}</label>
                <input type="password" class="form-control w-100" id="customPassword" placeholder="Password">
              </div>
              <button type="button" class="btn btn-primary w-100" id="loginButton">{{btnText||Login}}</button>
            </form>
          </div>
          <div class="col-6 d-none d-sm-none d-md-block d-lg-block p-0 h-100">
            <!-- Carousel -->
            <div id="carousel_{{id}}" class="carousel slide car-5" data-ride="carousel" style="height:100%">
              <div class="carousel-indicators" data-hide="{{hideIndicator||false}}">
              </div>
              <div class="carousel-inner" style="height:100%">
              {{repeat||[{"image": "#request.contextPath#/images/loginTemplate/sea.jpg", "title": "Explore the world", "titleColor":"#fff", "subtitle": "Explore the world in the palm of your hand", "subtitleColor":"#fff"},{"image": "#request.contextPath#/images/loginTemplate/italy.jpg", "title": "Get notified", "titleColor":"#fff", "subtitle": "Get notified when discount is available to use", "subtitleColor":"#fff"},{image: "#request.contextPath#/images/loginTemplate/balloon.jpg", title: "Save your destination", "titleColor":"#fff", "subtitle":"Easily save destination for later use", "subtitleColor":"#fff"}]}}
                <div class="carousel-item carousel-background" style="background-image:url('{{repeat.image}}');">
                  <div class="carousel-caption d-none d-md-block" style="bottom:0px;">
                    <h4 style="color:{{repeat.titleColor}};font-weight:700;">{{repeat.title}}</h4>
                      <p style="color:{{repeat.subtitleColor}}">{{repeat.subtitle}}</p>
                    </div>
                </div>
                {{repeat}}
              </div>
            </div>
          </div>
          <script>
              $(function(){
                  var carousel = $("#carousel_{{id}}");
                  //create navigation link
                  $(carousel).find(".carousel-item").each(function(i){
                      $(carousel).find('.carousel-indicators').append('<button class="mx-1" data-target="#carousel_{{id}}" data-slide-to="'+i+'"></button>');
                  });
                  //active first slide
                  $(carousel).find(".carousel-item:first-child, .carousel-indicators button:first-child").addClass("active");
                  //Initialise carousel
                  $(carousel).carousel();
            });
          </script> 
      </div>
    </div>
</div>
<!---->