<!--{sampleWidth: '100%', tags: 'icon title image'}-->
<section class="vh-100" style="background-color:{{bgColor||#FFF}}">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 text-black">
          <div class="px-5 ms-xl-4 fa-2x me-3 pt-5 mt-xl-4">
            {{icon||<i class="fas fa-crow" style="color: #709085;"></i>}}
            <span class="h1 fw-bold mb-0" style="color: {{subtitleColor||#000}};">{{subtitle||Subtitle}}</span>
          </div>
          <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-5">
            <form style="width: 23rem;">
              <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;color:{{formColor||#000}}">{{title||Log in}}</h3>
              <div class="form-outline mb-4">
                <input type="text" id="customUsername" class="form-control form-control-lg" />
                <label class="form-label" for="customUsername" style="color:{{formColor||#000}}">{{customUsername||@@ubuilder.login.username@@}}</label>
              </div>
              <div class="form-outline mb-4">
                <input type="password" id="customPassword" class="form-control form-control-lg" />
                <label class="form-label" for="customPassword" style="color:{{formColor||#000}}">{{customPassword||@@ubuilder.login.password@@}}</label>
              </div>
              <div class="pt-1 mb-4">
                <button class="btn btn-info btn-lg btn-block" type="button" id="loginButton" style="border:none;background-color:{{btnColor||#17a2b8}};color:{{btnTextColor||#FFF}}">{{btnText||@@ubuilder.login@@}}</button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-sm-6 px-0 d-none d-sm-block">
          <img src="{{image||#request.contextPath#/progressive/cover.png}}"
            alt="Login image" class="w-100 vh-100" style="object-fit: cover; object-position: left;">
        </div>
      </div>
    </div>
  </section>
<!---->

<!--{sampleWidth: '100%', tags: 'simple'}-->
<section class="w-100 vh-100 p-4 d-flex justify-content-center pb-4" style="background-color:{{bgColor||#FFF}}">
  <form style="width: 50rem;">
    <div class="form-outline mb-4">
      <input type="text" id="customUsername" class="form-control" />
      <label class="form-label" for="customUsername" color:{{formColor||#000}}>{{customUsername||@@ubuilder.login.username@@}}</label>
    </div>
    <div class="form-outline mb-4">
      <input type="password" id="customPassword" class="form-control" />
      <label class="form-label" for="customPassword" color:{{formColor||#000}}>{{customPassword||@@ubuilder.login.password@@}}</label>
    </div>
    <button type="button" class="btn btn-primary btn-block mb-4" id="loginButton" style="background-color:{{btnColor||#17a2b8}};color:{{btnTextColor||#FFF}}">{{btnText||@@ubuilder.login@@}}</button>
  </form>
</section>
<!---->

<!--{sampleWidth: '100%', tags: 'card icon title image'}-->
<section class="vh-100" style="background-color: {{bgColor||#9A616D}};">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="{{image||#request.contextPath#/progressive/cover.png}}"
                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body text-black">
                <form>
                  <div class="d-flex align-items-center mb-3 pb-1">
                    <div class="fa-2x me-3">
                      {{icon||<i class="fas fa-cubes"></i>}}
                    </div>
                    <span class="h1 fw-bold mb-0" style="color: {{subtitleColor||#000}};">{{subtitle||Subtitle}}</span>
                  </div>
                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;color:{{formColor||#000}}">{{Title||Sign into your account}}</h5>
                  <div class="form-outline mb-4">
                    <input type="text" id="customUsername" class="form-control form-control-lg" />
                    <label class="form-label" for="customUsername" style="color:{{formColor||#000}}">{{customUsername||@@ubuilder.login.username@@}}</label>
                  </div>
                  <div class="form-outline mb-4">
                    <input type="password" id="customPassword" class="form-control form-control-lg" />
                    <label class="form-label" for="customPassword" style="color:{{formColor||#000}}">{{customPassword||@@ubuilder.login.password@@}}</label>
                  </div>
                  <div class="pt-1 mb-4">
                    <button class="btn btn-dark btn-lg btn-block" type="button" id="loginButton" style="background-color:{{btnColor||#17a2b8}};color:{{btnTextColor||#FFF}}">{{btnText||@@ubuilder.login@@}}</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!---->

<!--{sampleWidth: '100%', tags: 'card title'}-->
<section class="vh-100" style="background-color: {{bgColor||#6a11cb}};">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center" style="background-color:{{cardColor||#343a40}}">
            <div class="mb-md-5 mt-md-4 pb-5">
              <h2 class="fw-bold mb-2 text-uppercase" style="{{subtitleColor||#FFF}}">{{subtitle||Login}}</h2>
              <p class="text mb-5" style="color:{{formColor||#FFF}}">{{title||Please enter your login and password!}}</p>
              <div class="form-outline form-white mb-4">
                <input type="text" id="customUsername" class="form-control form-control-lg" />
                <label class="form-label" for="customUsername" style="color:{{formColor||#FFF}}">{{customUsername||@@ubuilder.login.username@@}}</label>
              </div>
              <div class="form-outline form-white mb-4">
                <input type="password" id="customPassword" class="form-control form-control-lg" />
                <label class="form-label" for="customPassword" style="color:{{formColor||#FFF}}">{{customPassword||@@ubuilder.login.password@@}}</label>
              </div>
              <button class="btn btn-outline-light btn-lg px-5" type="button" id="loginButton" style="border:none;background-color:{{btnColor||#17a2b8}};color:{{btnTextColor||#FFF}}">{{btnText||@@ubuilder.login@@}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!---->

<!--{sampleWidth: '100%', tags: 'card image simple'}-->
<section class="text-center" style="background-color:{{bgColor||#FCFFE0}};">
  <div class="p-5 bg-image" style="
        background-image: url('{{image||#request.contextPath#/xadmin/images/bg.png}}');
        height: 300px;
        "></div>
  <div class="card mx-4 mx-md-5 shadow-5-strong bg-body-tertiary" style="
        margin-top: -100px;
        backdrop-filter: blur(30px);
        ">
    <div class="card-body py-5 px-md-5" style="background-color:{{cardColor||#F5DAD2}};">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <h2 class="fw-bold mb-5" style="color:{{formColor||#000}}">{{title||Sign in}}</h2>
          <form>
            <div class="form-outline mb-4">
              <input type="text" id="customUsername" class="form-control" />
              <label class="form-label" for="customUsername" style="color:{{formColor||#000}}">{{customUsername||@@ubuilder.login.username@@}}</label>
            </div>
            <div class="form-outline mb-4">
              <input type="password" id="customPassword" class="form-control" />
              <label class="form-label" for="customPassword" style="color:{{formColor||#000}}">{{customPassword||@@ubuilder.login.password@@}}</label>
            </div>
            <button type="button" class="btn btn-primary btn-block mb-4" id="loginButton" style="border:none;background-color:{{btnColor||#17a2b8}};color:{{btnTextColor||#FFF}}">
              {{btnText||@@ubuilder.login@@}}  
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!---->

<!--{sampleWidth: '100%', tags: 'card image subtitle'}-->
<section class="overflow-hidden vh-100" style="background-image:url('{{image||#request.contextPath#/xadmin/images/bg.png}}')">
  <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
    <div class="row gx-lg-5 align-items-center mb-5">
      <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
        <h1 class="my-5 display-5 fw-bold ls-tight" style="color:{{titleColor||#FFF}}">
          {{title||Come Join Us!}}
        </h1>
        <p class="mb-4 opacity-70" style="color:{{subtitleColor||#FFF}};">
          {{subtitle||Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus, expedita iusto veniam atque, magni tempora mollitia dolorum consequatur nulla, neque debitis eos reprehenderit quasiab ipsum nisi dolorem modi. Quos?}}
        </p>
      </div>
      <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
        <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
        <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
        <div class="card bg-glass">
          <div class="card-body px-4 py-5 px-md-5" style="background-color:{{cardColor||#343a40}}">
            <form>
              <div class="form-outline mb-4">
                <input type="text" id="customUsername" class="form-control" />
                <label class="form-label" for="customUsername" style="color:{{formColor||#000}}">{{customUsername||@@ubuilder.login.username@@}}</label>
              </div>
              <div class="form-outline mb-4">
                <input type="password" id="customPassword" class="form-control" />
                <label class="form-label" for="customPassword" style="color:{{formColor||#000}}">{{customPassword||@@ubuilder.login.password@@}}</label>
              </div>
              <button type="button" class="btn btn-primary btn-block mb-4" id="loginButton" style="border:none;background-color:{{btnColor||#17a2b8}};color:{{btnTextColor||#FFF}}">
                {{btnText||@@ubuilder.login@@}}
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!---->

