<!--{sampleWidth: '100%', tags: 'basic'}-->
<style>
  .login-container-1 {
    display: flex;
    height: 100vh;
    background-color: {{bgColor||#FFF}};
  }
  .login-form-1 {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .login-form-1 form {
    width: 100%;
    max-width: 400px;
    color: {{formColor||red}};
  }
  .login-image-1 {
    flex: 1;
    background-image: url('{{image||#request.contextPath#/images/appCenterCreateApp.png}}');
    background-size: cover;
    background-position: center;
  }
</style>
<div class="container-fluid login-container-1">
<div class="login-form-1">
  <form>
    <h2 class="mb-4 text-center" style="color:{{titleColor||inherit}}">{{title||Login}}</h2>
    <div class="mb-3">
      <label for="username" class="form-label">{{customUsername||@@ubuilder.login.username@@}}</label>
      <input type="text" class="form-control w-100" id="customUsername">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">{{customPassword||@@ubuilder.login.password@@}}</label>
      <input type="password" class="form-control w-100" id="customPassword">
    </div>
    <button type="button" class="btn btn-primary w-100" id="loginButton">Login</button>
  </form>
</div>
<div class="login-image-1 d-none d-md-block"></div>
</div>
<!---->

<!--{sampleWidth: '100%', tags: 'fullBackground'}-->
<style>
  .login-container-2 {
    display: flex;
    height: 100vh;
    background-image: url('{{image||#request.contextPath#/images/appCenterCreateApp.png}}'); 
    background-size: cover;
    background-position: center;
    background-color: {{bgColor||#FFF}};
  }
  .login-form-2 {
    position: absolute !important;
    margin-top: 20px !important;
    right: 20px !important;
    margin-right: 20px !important;
    width: 100% !important;
    max-width: 400px !important;
    background: {{cardColor||rgb(255, 255, 255)}} !important;
    border-radius: 16px !important;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1) !important;
  }
  .login-form-2 form{
      color: {{formColor||#000}};
  }
  .login-form-2 button {
      background-color: {{btnColor||#1434A4}};
  }
  .login-card-2 {
    padding: 20px;
  }
  @media (max-width: 768px) {
    .login-container-2 {
      justify-content: center;
      align-items: center;
    }
    .login-form-2 {
      position: static;
    }
  }
</style>
<div class="container-fluid login-container-2">
  <div class="card login-form-2 login-card-2">
    <form>
      <h2 class="mb-4" style="color:{{titleColor||#000}}">{{title||Enter your credentials}}</h2>
      <div class="mb-3">
        <label for="username" class="form-label">{{customUsername||@@ubuilder.login.username@@}}</label>
        <input type="text" class="form-control w-100" id="customUsername">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">{{customPassword||@@ubuilder.login.password@@}}</label>
        <input type="password" class="form-control w-100" id="customPassword">
      </div>
      <button type="button" class="btn btn-primary w-100" id="loginButton">{{btnText||Login}}</button>
    </form>
  </div>
</div>
<script>
    $(function(){
        if ($("body header").length > 0){
            $(".login-card-2").attr('style', "margin-top:"+ $("body header").height()+"px !important;")
        }
    });
</script>
<!---->

<!--{sampleWidth: '100%', tags: 'transparent'}-->
<style>
  .login-container-3 {
    display: flex !important;
    height: 100vh !important;
    background-image: url('{{image||#request.contextPath#/images/appCenterCreateApp.png}}') !important;  
    background-size: cover !important;
    background-position: center !important;
    background-color: {{bgColor||#FFF}};
  }
  .login-form-3 {
    width: 100% !important;
    max-width: 400px !important;
    padding: 20px !important;
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    background: {{cardColor||rgba(255, 255, 255, 0.8)}} !important;
    border-radius: 16px !important;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1) !important;
  }
  .input-container-3 {
    position: relative !important;
    margin-bottom: 1rem !important;
  }
  .login-form-3 input {
    border: none !important;
    background: rgba(255,255,255,0.1) !important;
    border-radius: 16px !important;
    padding-left: 40px !important;
    height: 48px !important;
  }
  .login-form-3 button {
    border-radius: 16px !important;
    background-color: {{btnColor||#1434A4}};
    color: {{btnTextColor||#fff}};
  }
  .icon-3 {
    position: absolute !important;
    left: 10px !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
    color: #666 !important;
    font-size: 20px !important;
  }
</style>
<div class="container-fluid login-container-3">
  <div class="login-form-3">
    <form>
      <h2 class="mb-4 text-center" style="color:{{titleColor||#000}}">{{title||Login}}</h2>
      <div class="mb-3 input-container-3">
        <i class="fa fa-user icon-3"></i>
        <input type="text" class="form-control w-100" id="customUsername" placeholder="{{customUsername||@@ubuilder.login.username@@}}">
      </div>
      <div class="mb-3 input-container-3">
        <i class="fas fa-lock icon-3"></i>
        <input type="password" class="form-control w-100" id="customPassword" placeholder="{{customPassword||@@ubuilder.login.password@@}}">
      </div>
      <button type="button" id="loginButton" class="btn btn-primary w-100">{{btnText||Login}}</button>
    </form>
  </div>
</div>
<!---->

<!--{sampleWidth: '100%', tags: 'columns'}-->
<style>
  :root {
    --customColor: {{formColor||#30c6b0}}
  }
  .login-container-4 {
    display: flex !important;
    height: 100vh !important;
    background-size: cover !important;
    background-position: center !important;
    background-color: {{bgColor||#FFF}};
  }
  .login-form-4 {
    width: 80% !important;
    position: absolute !important;
    padding-right: 20px !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    background: {{cardColor||rgba(255, 255, 255, 0.8)}} !important;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1) !important;
    color: var(--customColor)
  }
  .input-container-4 {
    position: relative !important;
    margin-bottom: 1rem !important;
  }
  .login-form-4 input {
    border: none !important;
    border-bottom: 1px solid !important;
    border-color: var(--customColor) !important;
    background: rgba(255,255,255,0.1) !important;
    padding-right: 40px !important;
    height: 48px !important;
  }
  .login-form-4 button {
    border-radius: 16px !important;
    color: {{btnTextColor||#fff}};
    background-color: {{btnColor||#1434A4}};
  }
  .icon-4 {
    position: absolute !important;
    right: 10px !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
    color: #666 !important;
    font-size: 20px !important;
  }
</style>
<div class="container-fluid login-container-4">
      <div class="login-form-4">
        <div class="row">
          <div class="col">
            <div class="d-none d-md-block d-lg-block">
              <img src="{{image||#request.contextPath#/images/appCenterLoginPageBackground.png}}" class="img-fluid" />
            </div>
          </div>
        <div class="col">
          <form>
            <h2 class="mb-4 text-center" style="color:{{titleColor||#30c6b0}}">{{title||Login}}</h2>
            <label>{{customUsername||@@ubuilder.login.username@@}}</label>
            <div class="mb-3 input-container-4">
              <i class="fa fa-user icon-4"></i>
              <input type="text" class="form-control w-100" id="customUsername">
            </div>
            <label>{{customPassword||@@ubuilder.login.password@@}}</label>
            <div class="mb-3 input-container-4">
              <i class="fas fa-lock icon-4"></i>
              <input type="password" class="form-control w-100" id="customPassword">
            </div>
            <button type="button" class="btn btn-primary w-100" id="loginButton">{{btnText||Login}}</button>
          </form>
        </div>
      </div>
    </div>
</div>
<!---->

<!--{sampleWidth: '100%', tags: 'carousel'}-->
<style>
  .login-container-5 {
    display: flex !important;
    height: 100vh !important;
    background-size: cover !important;
    background-position: center !important;
    color: black;
    background-color: {{bgColor||#fff}};
  }
  .login-form-5 {
    width: 80% !important;
    padding: 20px !important;
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    background: {{cardColor||rgba(255, 255, 255, 0.8)}} !important;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1) !important;
  }
  .input-container-5 {
    position: relative !important;
    margin-bottom: 1rem !important;
  }
  .login-form-5 input {
    background: rgba(255,255,255,0.1) !important;
  }
  .login-form-5 label {
    color: red;
  }
  .login-form-5 button {
    border-radius: 16px !important;
    border-color: {{btnColor||#1434A4}};
    background-color: {{btnColor||#1434A4}};
  }
  .car-5 .carousel-inner img {
    width: 100%;
    height: auto;
  }
  .car-5 .carousel-control-prev, .carousel .carousel-control-next {
    display:none;
  }
  .car-5 .carousel-indicators button{
    background-color: black;
    border: none;
  }
  .carousel .carousel-item img {
      max-height: 50vh;
      min-width: auto;
  }
</style>
<div class="container-fluid login-container-5">
      <div class="login-form-5">
        <div class="row">
          <div class="col mx-5">
            <form>
              <h2 class="mb-4">{{title||Log in}}</h2>
              <div class="mb-3 input-container-5">
                <label>{{customUsername||@@ubuilder.login.username@@}}</label>
                <input type="text" class="form-control w-100" id="customUsername">
              </div>
              <div class="mb-3 input-container-5">
                <label>{{customPassword||@@ubuilder.login.password@@}}</label>
                <input type="password" class="form-control w-100" id="customPassword">
              </div>
              <button type="button" class="btn btn-primary w-100" id="loginButton">{{btnText||Login}}</button>
            </form>
          </div>
          <div class="col d-sm-none d-md-block">
            <!-- Carousel -->
            <div id="carousel_{{id}}" class="carousel slide car-5" data-ride="carousel">
              <div class="carousel-indicators" data-hide="{{hideIndicator||false}}">
              </div>
              <div class="carousel-inner">
              {{repeat||[{image: "#request.contextPath#/builder/icons/image.svg", title: "Test 1", description: "Test Description 1"},{image: "#request.contextPath#/builder/icons/image.svg", title: "Test 2", description: "Test Description 2"},{image: "#request.contextPath#/builder/icons/image.svg", title: "Test 3", description: "Test Description 3"}]}}
                <div class="carousel-item">
                  <div class="row h-50">
                    <img src="{{repeat.image}}">
                  </div>
                  <div class="row h-50">
                    <div class="text-container w-100 text-center">
                      <h2 style="color:{{repeat.titleColor}}">{{repeat.title}}</h2>
                      <p style="color:{{repeat.subtitleColor}}">{{repeat.subtitle}}</p>
                    </div>
                  </div>
                </div>
                {{repeat}}
              </div>
            </div>
          </div>
          <script>
              $(function(){
                  var carousel = $("#carousel_{{id}}");
                  //create navigation link
                  $(carousel).find(".carousel-item").each(function(i){
                      $(carousel).find('.carousel-indicators').append('<button class="mx-1" data-target="#carousel_{{id}}" data-slide-to="'+i+'"></button>');
                  });
                  //active first slide
                  $(carousel).find(".carousel-item:first-child, .carousel-indicators button:first-child").addClass("active");
                  //Initialise carousel
                  $(carousel).carousel();
            });
          </script> 
      </div>
    </div>
</div>
<!---->