body:not(.popupBody) {
    background-color: #f8f8f8;
}
body:not(#login) #content > main > div:not(.quickEdit),
body:not(#login) #content > main > table {
    background: 0;
}
body.horizontal_menu.inline_menu #sidebar .main-menu.nav-tabs > li.active > a {
    text-transform: uppercase;
}
#search {
    position: relative;
    margin: 0 auto 30px;
    width: 165px;
}
#search .filterform {
    position: relative;
    display: block;
}
#search input.filterinput {
    height: auto;
    width: 100%;
    max-width: inherit;
    padding-left: 25px;
}
#search .filterlabel {
    position: absolute;
    left: 5px;
    top: 5px;
}
#apps {
    max-width: 88%;
    margin: 0 auto;
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#apps li {
    width: 140px;
    height: 220px;
    box-shadow: none;
    border-radius: 0;
    overflow: hidden;
    background: 0;
    display: block;
    margin: 0 20px 50px;
    position: relative;
}
#apps li.grid-dummy-fix {
    height: 1px !important;
    border: 0 !important;
    margin-bottom: 0 !important;
    box-shadow: none;
    background: transparent;
}
#apps li:hover {
    box-shadow: none;
}
#apps span.userview-icon {
    display: inline-block;
    height: 100px;
    width: 100px;
    overflow: hidden;
    float: left;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    border: 0;
    box-shadow: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#apps img {
    width: 100%;
}
#apps a.app-link {
    text-decoration: none;
}
#apps div.userview-name {
    font-weight: 500;
    font-size: 13px;
    color: #555;
    word-wrap: break-word;
    padding: 0 5px;
    text-align: center;
    max-height: 39px;
    overflow: hidden;
    margin-bottom: 3px;
}
#apps div.app-name {
    display: block;
    font-size: 80%;
    color: #999;
    max-height: 14px;
    overflow: hidden;
    text-align: center;
}
#apps div.userview-description {
    display: none;
    font-size: 80%;
    color: #999;
}
#apps div.userview-summary {
    background-color: #eee;
    display: none;
    position: absolute;
    width: 100px;
    height: 70px;
    padding: 10px;
    text-align: center;
    overflow: hidden;
    box-sizing: border-box;
}
a.print-button {
    display: none;
}
#home #section-actions {
    display: none;
}
.app-design-button {
    cursor: pointer;
    background: #37c8a9;
    padding: 4px;
    color: #fff;
    border-radius: 12px;
    margin-top: 4px;
    position: absolute;
    display: none;
    box-shadow: #666 1px 1px 2px 0;
    bottom: 3px;
    right: 4px;
}
.app-design-button i {
    display: inline-block;
    width: 1.25em;
    text-align: center;
}
div#apps_section {
    padding-top: 15px;
}
#page #appcenter_admin {
    position: absolute;
    top: -40px;
    text-align: center;
    display: block;
    margin: auto;
    width: 100%;
}
body #form-canvas .form-section {
    padding: 10px;
    border: 0;
    box-shadow: none;
    border-radius: 0;
    background: inherit;
}
#sidebar {
    border-right: 0;
}
div#appcenter_banner {
    position: absolute;
    top: -95px;
    left: -15%;
    width: 130%;
}
body #page header.navbar {
    box-shadow: none;
}
#banner {
    background: url(/jw/home/banner7.jpg) #ff7bac;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    height: 240px;
    width: 100%;
}
#banner h1 {
    color: #fff;
    font-size: 28px;
    z-index: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65%;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
div#banner h1 a {
    color: white;
}
body#home ul.breadcrumb {
    display: none;
}

body#home div.adjustfontSize {
    display: none;
}

body > #page > footer {
    position: fixed;
    bottom: 0;
    padding: 0;
    width: 100%;
    background: #ddd;
    opacity: 0.7;
    font-size: 10px;
}
#main-action-help {
    display: block;
    width: 18px;
    height: 18px;
    cursor: pointer;
    margin: 0;
    position: absolute;
    right: -8px;
    top: -267px;
    color: white;
}
#main-action-help i {
    font-size: 20px;
    line-height: 20px;
}
body#home div#brand_logo img {
    display: block;
    position: absolute;
    top: 38px;
    left: 10px;
    width: 360px;
}
body#home div#clock {
    position: absolute;
    right: 50px;
    height: 200px;
    display: block;
    top: 50px;
    width: auto;
    color: #fff;
    font-size: 64px;
}
body div#brand_logo img,
body #clock {
    display: none;
}
@media (max-width: 767px) {
    #apps li {
        float: none;
        display: inline-block;
        margin-bottom: 50px;
        margin-right: 5%;
        text-align: center;
        vertical-align: top;
    }
    div.userview-name {
        clear: both;
    }
    #apps span.userview-icon {
        float: none;
        margin: auto;
    }
    #apps {
        max-width: 100%;
    }
    #apps li {
        margin: 10px 2%;
    }
    #page #banner h1 {
        padding-top: 0;
        position: relative;
        top: 0;
        z-index: 100;
    }
    body#home #page #banner {
        background-size: cover;
    }
    body > #page > footer {
        display: none;
    }
    #page #appcenter_admin {
        top: -120px;
        display: none;
    }
}
@media (max-width: 900px) {
    #page #banner h1 {
        font-size: 20px;
    }
}
@media (max-width: 1024px) {
    /*horizontal banner mode*/
    body #page div#brand_logo,
    body #page div#clock {
        display: none;
    }
    #banner h1 {
        padding-top: 100px;
    }
}
@media (min-width: 1025px) {
    body#home div.home_banner {
        position: absolute;
        top:0;
        left:0;
        width: calc(100% - 550px);
    }
    body#home div#banner {
        height: 100vh;
        width: 100%;
    }
    body#home #page header.navbar {
        width: 550px;
        float: right;
    }
    body#home.horizontal_menu #main {
        width: 550px;
        position: absolute;
        display: table-cell;
        height: calc(100vh - 65px);
        overflow: auto;
        padding-bottom: 20px;
        right: 0;
        bottom: 0;
    }
    body#home div#header-name img {
        position: fixed;
        top: 10px;
        left: 10px;
        display: none;
    }
    body#home #header-name a#header-link {
        position: fixed;
        top: 10px;
        left: 40px;
        display: none;
    }
    body#home div#main-action-help {
        top: 20px;
        right: 580px;
        position: fixed;
        z-index: 200;
    }
    ul#apps {
        max-width: 94%;
    }
    ul#apps li {
        box-shadow: none;
        background: 0;
        width: 100px;
        height: 170px;
        margin: 0 12px 30px;
    }
    #apps span.userview-icon {
        border-radius: 0;
        height: 100px;
        width: 100px;
        margin-left: 0px;
    }
    ul#apps li:hover {
        box-shadow: none;
    }
    div #appcenter_admin a {
        font-size: 12px !important;
    }
}