* {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
}
body, html {
    margin: 0;
    padding: 0;
}
body {
    background-color: #f9f9f9;
}
div, label, input, button, select, th, td, a, span {
    font-size: 13px;
}
#builder-container {
    min-width: 100%;
    width: auto;
}
#builder-header {
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 301;
    width: 100%;
    height: 39px;
    padding: 7px 10px 0;
    background: #333;
    box-sizing: border-box;
}
#builder-header:before {
    content: "";
    background: #3f84f4;
    position: absolute;
    top:0;
    left:0;
    width: 121px;
    height: 39px;
    z-index: -1;
}
#datalistbuilder #builder-header:before {
    background: #6638b6;
}
#userviewbuilder #builder-header:before {
    background: #f3b328;
}
#pbuilder #builder-header:before {
    background: #dc4438;
}
#builder-header > i {
    float: left;
    color: #fff;
}
#builder-title {
    color: white;
    font-size: 22px;
    text-transform: uppercase;
    line-height: 11px;
    padding-top: 8px;
    margin-left: 120px;
}
#builder-title i {
    font-style: normal;
    text-transform: none;
    text-shadow: 0px 0px 1px black;
    font-size: 14px;
}
#builder-body {
    min-width: 100%;
    min-height: 520px;
    background-color: #FFFFFF;
    padding: 0 3% 100px 0px;
    display: table;
    box-sizing: border-box;
}
#builder-logo {
    background: url(../images/v3/builder/logo.png) no-repeat;
    background-size: cover;
    width: 68px;
    height: 24px;
    float: left;
    background-position: 0px 0px;
    margin-left: 16px;
    position: relative;
}
#builder-logo:before {
    content: "";
    border-left: 1px solid #fff;
    left: -2px;
    top: 5px;
    height: 18px;
    display: block;
    position: absolute;
    margin: -1px;
}
#builder-bar { 
    padding: 0px;
    background: #eee;
    margin-bottom: -8px;
    width: 100%;
    position: fixed;
    left: 0px;
    top: 39px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    z-index: 101;
    height: 38px;
    border-bottom: solid 1px #ccc;
}
#builder-bg {
    background: white;
    opacity: 1;
    position: fixed;
    top: 31px;
    width: 100%;
    height: auto;
    z-index: -1;
}
#builder-content, #tabpanels {
    min-height: 380px;
    left: 10px;
    position: relative;
    top: 100px; 
}
#builder-bar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 38px;
    overflow: hidden;
    display: inline-block;
    width: auto;
}
#builder-bar li { 
    float: left;
    margin: 0;
}
#builder-bar a {
    display: block;
    text-decoration: none;
    padding-right:18px;   
    background: #ccc;
    position: relative;
}
#builder-bar a span.steps-bg {
    min-width: 100px;
    display: block;
    font-size: 16px;
    color: #acacac;
    height:38px;
    text-decoration: none;
    cursor: pointer;
    padding:0 30px;
    background: #ccc;
    position: relative;
}
#builder-bar span.title {
    font-size: 16px;
    height: 14px;
    color: #333;
    display: block;
    padding: 10px 0 0 0;
    text-align: center;
    text-transform: uppercase;
}
#builder-bar span.subtitle {
    display:none;
}
#builder-bar #builder-steps li.active a:before,
#builder-bar #builder-steps li:not(.active):hover a:before,
#builder-bar span.title:after,
#builder-bar span.title:before{
    display:block;
    content:"";
    width:0;
    height:0em;
    border-style:solid;
    position:absolute;
    right:-17px;
    top:0;
    border-width:19px 0 19px 18px;
    border-color:transparent transparent transparent #ccc;    
}
#builder-bar #builder-steps li.active a:before,
#builder-bar #builder-steps li:not(.active):hover a:before{
    right: inherit;
    left:-18px;
    border-color:#888 #888 #888 transparent;    
}
#builder-bar span.title:before{
    right: -18px;
    border-color:transparent transparent transparent #fff;  
}
#builder-bar li.active a span.steps-bg {
    background: #888;
}
#builder-bar li.active span.title {
    color: #fff;
}
#builder-bar li.active span.title:after{
    border-color:transparent transparent transparent #888;    
}
#builder-bar li.last-inactive span.title:after{
    border-color:#ccc;
}
#builder-bar li.last-inactive span.title:before{
    border-color:#fff;
}
#builder-bar li:not(.active):hover a span.steps-bg {
    background: #c0c0c0;
}
#builder-bar li:not(.active):hover span.title:after{
    border-color:transparent transparent transparent #c0c0c0;    
}
#builder-bar li.last-inactive:not(.active):hover span.title:after{
    border-color:#c0c0c0;    
}
#builder-bar #builder-steps li:not(.active):hover a:before{
    border-color:#c0c0c0 #c0c0c0 #c0c0c0 transparent; 
}
#builder-footer {
    text-align: center;
    color: #868686;
    text-shadow: 1px 1px 0 #fff; 
    padding: 20px 0 40px
}
#builder-palette {
    display: block;
    width: 190px;
    padding: 0px 0px 50px 0px;
    margin: 5px;
    float: left;
    position: fixed;
    top: 73px;
    z-index: 10;
    background: #ECECEC;
    left: -5px;
    height: calc(100vh - 75px);
    box-sizing: border-box;
    border: 0;
    border-right: 1px solid #aaa; 
}
#builder-palette legend {
    display: none;
}
#builder-palette h3 {
    background: #00695c;
    color: white;
    text-shadow: 0px 0px 1px black;
    padding: 5px;
    margin: 5px 5px;
}
#builder-palette ul {
    list-style: none outside;
    padding: 0px 5px;
    margin-left: 0px;
    margin-top: 0px;
}
#builder-palette-body {
    height: 100%;
    overflow: auto;
    width: 190px;
}
#builder-palette ul li {
    padding-bottom: 2px;
    widthx: 148px;
    overflow: hidden;
}
#builder-palette ul li:hover {
    opacity: 0.7;
}
#builder-palette label{
    cursor: pointer;
}
#builder-palette-top {
    background: url(../images/v3/builder/sidebar_bg.gif) 0 0 repeat-x;
    width: 99%;
    height: 13px;
    display: none;
    border-left: 1px solid #d6d6d6;
    border-right: 1px solid #d6d6d6
}
#builder-palette-spacer {
    width: 175px;
}
.builder-palette-element{
    border: dotted 1px #dddddd;
    cursor: pointer;
    line-height: 28px;
    padding: 0px 3px;
    margin: 0px;
    color: #4C4C4C;
    min-height: 30px;
    overflow: auto;
    word-wrap: break-word;
}
.builder-palette-column:not(.ui-draggable-dragging) > i{
    float: left;
}
.builder-palette-column:not(.ui-draggable-dragging) > label{
    float: right;
    width: 83%;
}
.builder-palette-element > i, 
.builder-palette-element > span.fa-stack,
.builder-palette-element > span.image{
    width: 23px;
    height: 23px;
    text-align: center;
    background: #fafafa;
    vertical-align: middle;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 4px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin-right: 3px; 
    vertical-align: middle;
}
.builder-palette-element > span.fa-stack {
    font-size: 0.6em;
}
.builder-palette-element > span.image{
    background-size: 105% 105%;
    background-position: center;
}
.builder-palette-element > i span{
    position: relative;
    top: -8px;
    display: inline-block;
    font-weight: bold;
    font-size: 90%;
}
#builder-body #canvas, #builder-body #form-canvas {
    box-shadow: 0 0 1px gray;
    border-radius: 0px;
}
#form-canvas {
    position: relative;
    top: 16px;
    left: 0px;
    floatx: right;
    display: block;
    min-width: 700px;
    border: none; 
    padding: 5px;
    margin: 5px;
    background: #ffffff;
}
#form-canvas legend {
    display: none;
}
.form-clear {
    clear: both;
}
.ui-sortable-placeholder, .form-cell-highlight {
    border: 1px dotted #111111;
    visibility: visible !important;
    height: 50px !important;
    background: #969696;
    color: white;
    opacity: 0.7;
}
#builder-bar .controls {
    display: inline-block;
    position: relative;
    background: #eee;
    padding: 3px 5px;
    border-radius: 7px;
    float: right;
    margin-right: 220px;
}
#builder-bar .controls a{
    display: inline;
    background: transparent;
    padding:0;
    margin:0;
    cursor: pointer;
}
#builder-bar .controls a:not(.disabled):hover {
    opacity: 0.7;
}
#builder-bar .controls a.disabled{
    color: #888;
    cursor: default;
}
#loading {
    position: fixed;
    top: 150px;
    left: 35%;
    z-index: 10000;
    font-size: 48px;
    color: whitesmoke;
    background: #999;
    padding: 20px;
    opacity: 0.8;
    border-radius: 10px;
}

#builder-message {
    position: fixed;
    top: 20px;
    left: 450px;
    background: yellow;
    border-radius: 5px;
    display: none;
    opacity: 0.8;
    z-index: 100000;
    padding: 10px;
}
#tab-diffChecker h3 {
    color: #535353;
    font-size: 16px;
    font-weight: 500;
}
li.jsondiffpatch-unchanged {
    display: none;
}
#diff1, #diff2 {
    border: solid 1px #ccc;
    margin: 5px;
    background: #fAfafA;
    line-height: 18px;
}
#advancedToolsFrame a {
    color: #535353;
    text-decoration: none;
}
#advancedToolsFrame a:hover {
    color: #009688;
}
#advancedToolsOverlay.quickOverlay {
    z-index: 1300;
}
#advancedToolsOverlayButton {
    top: 5px;
    right: 5px;
    left: auto;
}
body.rtl #advancedToolsOverlayButton {
    right: auto;
    left: 5px;
}
#advancedToolsOverlayButton a,
#advancedToolsOverlayButton a:focus{ 
    display: block;
    width: 35px;
    height: 35px;
    background: #202124;
    color: #CFD8DC;
    font-size: 24px;
    box-shadow: #666 1px 1px 2px 1px;
}
#advancedToolsOverlayButton a:hover {
    color: #fff;
}
#advancedToolsFrame { 
    position: fixed;
    height: calc(100% - 35px);
    width: 98%;
    top: 0px;
    left: 1%;
    z-index: 1301;
    border: none;
    box-shadow: #555 0px 0px 2px 2px;
    min-height: 500px;
    min-width: 780px;
    background: white;
    overflow: hidden;
}
#advancedToolsFrame > h1{
    font-size: 20px;
    padding: 10px 20px 0;
    color:#00695c;
    text-transform: uppercase;
}
#advancedToolsFrame .ui-tabs,
#advancedToolsFrame .ui-tabs-nav,
#advancedToolsFrame .ui-tabs .ui-state-default{
    border: 0 !important;
    background: transparent !important;
}
#advancedToolsFrame .ui-tabs,
#advancedToolsFrame .ui-tabs-nav{
    padding: 0 !important;
    margin: 0 !important;
}
#advancedToolsFrame .ui-tabs-nav{
    border-bottom: 1px solid #ccc !important;
    white-space: nowrap;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    line-height: 100%;
    border-radius: 0 !important;
}
#advancedToolsFrame .ui-tabs-nav::-webkit-scrollbar {
    -webkit-appearance: none;
}
#advancedToolsFrame .ui-tabs-nav::-webkit-scrollbar:vertical {
    width: 8px;
}
#advancedToolsFrame .ui-tabs-nav::-webkit-scrollbar:horizontal {
    height: 8px;
}
#advancedToolsFrame .ui-tabs-nav::-webkit-scrollbar-thumb {
    border-radius: 4px;
    border: 0; 
    background-color: rgba(0, 0, 0, .3);
}
#advancedToolsFrame .ui-tabs .ui-state-default {
    border-bottom: 2px solid transparent !important;
}
#advancedToolsFrame .ui-tabs .ui-state-default a{
    color: #535353 !important;
    padding: 5px 25px;
}
#advancedToolsFrame .ui-tabs .ui-state-default a i {
    margin-right: 3px;
}
#advancedToolsFrame .ui-tabs .ui-tabs-nav li.ui-state-default:not(.ui-tabs-active):hover a {
    color: #009688 !important;
}
#advancedToolsFrame .ui-tabs .ui-tabs-active {
    border-bottom: 2px solid #004d40 !important;
}
#advancedToolsFrame .ui-tabs li:focus,
#advancedToolsFrame .ui-tabs li a:focus{
    outline:none;
}
#advancedToolsFrame .ui-tabs .ui-tabs-active a{
    color: #004d40 !important;
}
#advancedToolsFrame .ui-tabs .ui-tabs-nav li {
    float: none;
    display: inline-block;
}
.builder_tool_tabs_container .tab-content {
    display: none;
    line-height: 25px;
    padding: 10px 25px 30px;
    background: #fff;
    overflow: auto;
    position: relative;
    box-sizing: border-box;
}
.builder_tool_tabs_container .tab-content h2 {
    font-size: 18px;
    text-transform: uppercase;
    color: #00695c;
}
#advancedToolsFrame .builder_tool_tabs_container .tab-content .button {
    background: #00695c;
    font-family: Arial;
    text-decoration: none;
    box-shadow: none;
    border: none;
    cursor: pointer;    
    color: white;
    border-radius: 4px;
    margin-right: 2px;
    padding: 5px 15px 7px;
    color:#fff;
}
#advancedToolsFrame .builder_tool_tabs_container .tab-content .button:hover {
    background: #00897b;
    text-decoration: none;
    color:#fff;
}
#advancedToolsFrame .ace_editor * {
    font: 12px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace !important;
}
.sticky-buttons {
    position: fixed;
    right: 10%;
}
.table_column_items {
    list-style: none;
    padding: 0;
}
.table_column_items li {
    padding: 8px 5px;
    min-width: 23%;
    background: #f3f3f3;
    margin: 0.5% 0.5% 0 0;
    display: inline-block;
}
#main-action-help {
    display: block;
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin: 5px;
    position: absolute;
    left: 932px;
}
#builder-bar .highlight-button{
    position: fixed;
    right:0;
}
#builder-bar .highlight-button a{
    background: #00695c;
    padding-right: 0;
}
#builder-bar .highlight-button a:hover{
    background: #00897b;
}
#builder-bar .highlight-button a:hover {
    opacity: 0.8;
}
#builder-bar .highlight-button a span.steps-bg{
    background: transparent !important;
}
#builder-bar .highlight-button a span.steps-bg span.title{
    color: #fff;
}
#builder-bar .highlight-button a:before,
#builder-bar .highlight-button span.title:after,
#builder-bar .highlight-button span.title:before{
    display: none !important;
}
@media (min-width: 1200px) {
    #builder-bar .controls {top:15px; }
}
@media (max-width: 1199px) {
    #builder-bar .controls {position: absolute; margin-right: 0px; right:15px; top: 43px;}
}
a.reload {
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 39px;
    z-index: 9;
    cursor: pointer;
}

/* popup */
body .ui-widget-overlay{
    background: #000;
}
body .ui-dialog {
    border: 0;
    border-radius: 3px !important;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.5);
    z-index: 10001;
}
body .ui-dialog .ui-dialog-content {
    padding: 0 !important;
    overflow: hidden !important;
}
body .ui-dialog-titlebar{
    position: absolute !important;
    top: 0;
    right: 0;
    height: 0px !important;
    width: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
    border:0;
    z-index: 10001;
}
body .ui-button-text {
    display:none;
}
body .ui-dialog-titlebar-close{
    top: 15px !important;
    right: 10px !important;
    border: 0 !important;
    border-radius: 50% !important;
    background: transparent !important;
    display: block;
}
body .ui-dialog-titlebar-close:before {
    display: none !important;
}
body .ui-icon-closethick{
    background: transparent !important;
    font-family: "Font Awesome 5 Free";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-weight: 900;
    text-indent: unset !important;
    font-size: 20px;
    width: 20px !important;
    height: 20px !important;
    color:#ccc !important;
}
body .ui-icon-closethick:hover {
    color: #aaa !important;
}
body .ui-icon-closethick:before{
    content: '\f00d';
}
body .boxy-modal-blackout {
    opacity: 0.3 !important;
}
body .boxy-wrapper {
    border-collapse: collapse;
    z-index: 10001;
    border-radius: 3px;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}
body .boxy-wrapper > tbody > tr:first-child,
body .boxy-wrapper > tbody > tr:last-child,
body .boxy-wrapper > tbody > tr > td:first-child,
body .boxy-wrapper > tbody > tr > td:last-child{
    display: none !important;
}
body.popupBody {
    padding-top: 48px;
}
body .boxy-wrapper .title-bar {
    background: #00695c;
    margin: 3px 3px 0 3.5px;
}
body .boxy-wrapper .title-bar h2:after {
    content:"";
    display: block;
    clear:both;
}
.boxy-inner {
    position: relative;
}
.boxy-content-body {
    margin-top: 50px;
}
body .boxy-wrapper .title-bar .close:hover {
    color: #ccc;
}
body .property-editor-page-button-panel input[type=button]{
    background: #00695c;
    color: #fff;
    border:0;
    appearance: none;
    -webkit-appearance: none;
    font-size: 14px;
    font-weight: normal;
    border-radius: 5px;
    padding: 5px 15px;
    cursor: pointer;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
    position: relative;
    display: inline-block;
    line-height: 20px;
    margin-bottom: 5px;
}
body .property-editor-page-button-panel input + input {
    margin-left: 5px;
}
body .property-editor-page-button-panel input[type=button]:focus{
    outline:none;
}
body .property-editor-page-button-panel input[type=button]:before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #00695c;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
body .property-editor-page-button-panel input[type=button]:focus:before{
    -webkit-transform: scaleX(1) !important;
    transform: scaleX(1) !important;
}
body .property-editor-page-button-panel input[type=button]:hover{
    background-color: #00897b;
    color: #fff;
}
body.stop-scrolling {
    overflow: hidden;
}