body{
    direction:rtl;
}
#builder-body {
    padding: 0 0 100px 3%;
}
#builder-content > table > tbody > tr > td[valign="top"] {
    padding-left: 0px !important;
    width: 100%;
}
#builder-title {
    float: right;
}
#builder_quick_navigator {
    right: 621px;
    left: auto;
}
.form-palette-element,
.builder-palette-element{
    clear:both
}
.form-palette-element img,
.builder-palette-element img{
    float:right;
}
.form-palette-element label,
.builder-palette-element label {
    padding-left: 0px;
    padding-right: 3px;
}
.element-options {
    right: auto;
    left:0;
    text-align: left;
}
.builder_qn_items ul li a {
    float: right !important;
}
.builder_qn_items ul li a.builder_qn_open {
    float: left !important;
}
#builder-palette {
    position: fixed;
    right: -5px;
    left: auto;
    padding: 0px 0px 95px 0px;
    height: calc(100% - 75px);
}
#builder-bar a {
    padding-right:0px;   
    padding-left:18px;  
}
#builder-bar #builder-steps, #builder-bar #builder-steps li {
    float: right;
}
#builder-bar #builder-steps li.active a:before,
#builder-bar #builder-steps li:not(.active):hover a:before,
#builder-bar span.title:after,
#builder-bar span.title:before{
    left:-17px;
    right:inherit;
    border-width:19px 18px 19px 0px;
    border-color:transparent #ccc transparent transparent ;    
}
#builder-bar #builder-steps li.active a:before,
#builder-bar #builder-steps li:not(.active):hover a:before{
    left: inherit;
    right:-18px;
    border-color:#888 transparent #888 #888;    
}
#builder-bar span.title:before{
    left: -18px;
    right: inherit;
    border-color:transparent #fff transparent transparent;  
}
#builder-bar li.active span.title:after{
    border-color:transparent #888 transparent transparent ;    
}
#builder-bar li:not(.active):hover span.title:after{
    border-color:transparent #c0c0c0 transparent transparent;    
}
#builder-bar #builder-steps li:not(.active):hover a:before{
    border-color:#c0c0c0 transparent #c0c0c0 #c0c0c0; 
}
#builder-bar .highlight-button {
    left: 0;
    right: inherit;
}
#builder-bar .controls {
    float: left;
    margin-left: 220px;
    margin-right: 0;
}
@media (max-width: 1199px) {
    #builder-bar .controls {position: absolute; margin-left: 0px; left:15px; right: inherit; top: 43px;}
}

/*Form Builder*/
#formbuilder .form-palette-options{
    text-align:left;
}

#formbuilder .form-section .form-palette-options {
    right: auto;
    left:0;
    top: 0;
}

#formbuilder .form-palette-options button {
    margin-left: 0px;
    margin-right: 2px;
}

#formbuilder .form-cell .label, .subform-cell .label {
    float: right;
}

#formbuilder .form-column, #formbuilder .subform-column {
    float:right;
    border-right: 2px dashed #DDDDDD;
    border-left:0px;
}

#formbuilder #builder-content {
    right: 200px;
}

.form-floating-label {
    left: 10px;
    right: inherit;
}

/*Datalist Builder*/
#datalistbuilder #form-canvas{
    right: 30px;
}
#datalistbuilder td#tdDatabuilderContentRowActions {
    float:right;
}

#datalistbuilder td#tdDatabuilderContentColumns{
    float:left;
}

#datalistbuilder .builder-palette-column, .builder-palette-action, .form-palette-section, .form-palette-column {
    background: url("../images/v3/builder/sidebar_element.gif") no-repeat scroll right top transparent;
    padding: 0 30px 0 0;
}

#datalistbuilder .builder-palette-column .label {
    float: right;
}

/*Userview Builder*/
#userviewbuilder #canvas {
    right: 210px;
}

#userviewbuilder #header-welcome-message {
    float: right;
    width: 300px;
}

#userviewbuilder #header-logout-text {
    float: left;
    text-align: left;
}

#userviewbuilder #userview-content {
    float: left;
}

#userviewbuilder #userview-sidebar {
    border-right: 0;
    border-left: 2px dotted #DDDDDD;
    float: right;
}

#userviewbuilder .sidebar-title {
    left: auto;
    right:0;
    padding: 4px;
}

#userviewbuilder #userview-advanced {
    margin-left: 0px;
    margin-right: 220px;
}

#ui-datepicker-div {
    display:none;
}

#pbuilder {
    direction: ltr;
}
