#form-canvas * {
    font-family: PT Sans,Arial,serif;
    font-size: 13px;
}
#form-canvas .label {
    color: #535353;
}
#form-canvas {
    font-size: 13px;
    display: block;
    padding: 10px;
    margin: 5px;
    background: white;
    border: solid 1px silver;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px;
}
#form-canvas textarea {
    font-size: 13px;
}
.form-section, .form-column, .form-cell, .subform-section, .subform-column, .subform-cell {
    border: none 1px #dddddd;
    padding: 0px;
    margin: 0px;
}
.form-section, .subform-section {
    position: relative;
    border: none 2px #cccccc;
    heightx: 100%;
    overflow: hidden;
    backgroundx: #cccccc;
    background: white;
    colorx: #ffffff;
    min-heightx: 50px;
    margin-bottom: 10px;
}
.form-section-title span, .subform-section-title span {
    padding: 10px;
    margin-bottom: 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    text-shadow: 1px 1px 0 #DDDDDD;
    background: #efefef;
    display: block;
}
.form-palette-section {
    background: #cccccc;
    height: 30px;
    min-width: 200px;
}
.form-column, .subform-column {
    position: relative;
    border: none 2px #dddddd;
    widthx: 200px;
    float: left;
    heightx: 100%;
    min-height: 30px;
    min-width: 250px;
    padding: 0px 0px 0px 0px;
    backgroundx: #dddddd;
    color: #666666;
    border-top: none;
    border-right: none;
    border-bottom: none;
}
.form-column .hint, .subform-column .hint {
    display: block;
    text-align: center;
    font-style: italic;
    font-size: 12px;
    color: #aaaaaa;
    background: white;
}
.form-cell, .subform-cell {
    position: relative;
    min-height: 30px;
    color: black;
    clear: left;
    padding: 5px 0px;
}
.form-cell .label, .subform-cell .label {
    width: 30%;
    display: block;
    float: left;
}
.form-cell-highlight {
    padding-bottom: 0px;
    background: #f0ffcc;
}
.form-clear {
    clear: both;
}
.form-error-cell {
    border: solid 1px red;
}
.form-error-message {
    color: red;
    font-size: smaller;
    display: block;
}
.form-cell-validator {
    color: red;
    font-size: smaller;
}
.form-message {
    margin-bottom: 5px;
    font-weight: bold;
    color: red;
}
.form-cell table, .subform-cell table {
    width: 100%;
}
.form-cell table td, .form-cell table th, .subform-cell table td, .subform-cell table th {
    border: solid 1px silver;
    margin: 0px;
    padding: 3px;
}
.subform-container, .subform-section {
    background: #efefef;
}
.form-column-horizontal .form-cell {
    display: block;
    float: left;
    clear: none;
    margin-right: 3px;
}
.form-fileupload {
    float: left;
}
.form-fileupload-value {
    display: block;
}
.form-cell-value, .subform-cell-value {
    float: left;
    width: 70%;
}
.form-cell-value label, .subform-cell-value label {
    display: block;
    float: left;
    width: 50%;
}
.form-cell-full {
    width: 100%;
}
#ui-datepicker-div {
    font-size: 13px;
}