#form-canvas{
    direction:rtl;
    text-align:right;
}

.form-cell .label, .subform-cell .label {
    float: right;
}

.form-column, .subform-column {
    color: #666666;
    float: right;
}

.form-fileupload {
    float: right;
}

#ui-datepicker-div {
    display:none;
}

