#form-canvas * {
    font-size: 13px;
}
#form-canvas .label {
    color: #535353;
}
#form-canvas {
    font-size: 13px;
    display: block;
    padding: 10px;
    margin: 5px;
    background: white;
    border: solid 1px silver;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px;
}
#form-canvas textarea {
    font-size: 13px;
}
.form-section, .form-column, .form-cell, .subform-section, .subform-column, .subform-cell {
    border: none 1px #dddddd;
    padding: 0px;
    margin: 0px;
}
.form-section, .subform-section {
    border: none 2px #cccccc;
    background: transparent;
    margin-top: 15px;
}
.form-section.no_label, .subform-section.no_label {
    margin-top: 0px;
}
.form-section.no_label > .form-section-title, .subform-section.no_label > .subform-section-title{
    display:none;
}
.form-section-title span, .subform-section-title span {
    padding: 10px;
    margin-bottom: 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    text-shadow: 1px 1px 0 #DDDDDD;
    background: #efefef;
    display: block;
}
.form-palette-section {
    background: #cccccc;
    height: 30px;
    min-width: 200px;
}
.form-column, .subform-column {
    position: relative;
    border: none 2px #dddddd;
    float: left;
    min-width: 250px;
    padding: 0px 0px 0px 0px;
    color: #666666;
    border-top: none;
    border-right: none;
    border-bottom: none;
}
.form-column .hint, .subform-column .hint {
    display: block;
    text-align: center;
    font-style: italic;
    font-size: 12px;
    color: #aaaaaa;
    background: white;
}
.form-cell, .subform-cell {
    position: relative;
    color: black;
    clear: left;
    padding: 5px 0px;
}
.form-column > .subform-cell {
    padding: 0;
}
.form-cell .label, .subform-cell .label {
    width: 30%;
    display: block;
    float: left;
}
.form-cell-highlight {
    padding-bottom: 0px;
    background: #f0ffcc;
}
.form-clear {
    clear: both;
}
.form-error-cell {
    border: solid 1px red;
}
.form-error-message {
    color: red;
    font-size: smaller;
    display: block;
}
.subform-cell-validator,
.form-cell-validator {
    color: red;
    font-size: smaller;
}
.form-message {
    margin-bottom: 5px;
    font-weight: bold;
    color: red;
}
.form-cell table, .subform-cell table {
    width: 100%;
}
.form-cell table td, .form-cell table th, .subform-cell table td, .subform-cell table th {
    border: solid 1px silver;
    margin: 0px;
    padding: 3px;
}
.subform-container{
    border: 5px solid #dfdfdf; 
    padding: 3px;
    margin-top:15px;
    position:relative;
}
.subform-container.no-frame{
    border: 0; 
    padding: 0;
    margin-top:0px;
}
.subform-container, .subform-section {
    background: #efefef;
}
.subform-container.has-frame .subform-section-title span {
    background: #dfdfdf;
}
.subform-container.no-frame, .subform-container.no-frame .subform-section {
    background: transparent;
}
.subform-title{
    background: #efefef;
    position:absolute;
    top:-11px;
}
.subform-container.no-frame .subform-title{
    background: transparent;
    position:relative;
    top: 0px;
    font-weight: bold;
    margin-top: 15px;
    display: block;
}
.form-column-horizontal .form-cell {
    display: block;
    float: left;
    clear: none;
    margin-right: 3px;
}
.form-fileupload {
    float: left;
}
.form-fileupload-value {
    display: block;
}
.form-cell-value, .subform-cell-value {
    float: left;
    width: 70%;
}
.form-cell-value label, .subform-cell-value label {
    display: block;
    float: left;
    width: 50%;
}
.form-cell-full {
    width: 100%;
}
#ui-datepicker-div {
    font-size: 13px;
}
.form-cell-value label.readonly_label, .subform-cell-value label.readonly_label {
    width: 100%;
    float: none;
}
#preview-label {
    position: fixed;
    top: 75px;
    right: -225px;
    width: 600px;
    padding: 10px;
    font-size: 24px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'trebuchet ms', verdana, arial, sans-serif;
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(170, 170, 170);
    z-index: 500;
    opacity: 0.5;
    -moz-transform: rotate(45deg);  /* FF3.5/3.6 */
    -o-transform: rotate(45deg);  /* Opera 10.5 */
    -webkit-transform: rotate(45deg);  /* Saf3.1+ */
    transform: rotate(45deg);
}
.tooltips, #form-canvas .tooltips {
    color: #999;
    font-size: 11px;
    line-height: 15px;
    padding: 5px 0 5px 5px;
}
.tooltips > span, #form-canvas .tooltips > span {
    display:block;
    color: #999;
    font-size: 11px;
    line-height: 15px;
}
#preview-label.ie {
    top: -60px;
    right: -150px;
    width: 400px;
    opacity: 1;
    filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476) progid:DXImageTransform.Microsoft.Alpha(Opacity=50); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476) progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE8 */
    zoom: 1;
}
.quickEdit, #form-canvas .quickEdit {
    display: none;
}
#section-actions {margin-top:15px;}
.customHtml.hidden {display:none;}
@media screen and (max-width: 767px) {
    .form-column, .subform-column {width:100% !important;}
    .form-container textarea, .form-container input[type="text"], .form-container input[type="password"], .form-container input[type="datetime"], .form-container input[type="datetime-local"], .form-container input[type="date"], .form-container input[type="month"], .form-container input[type="time"], .form-container input[type="week"], .form-container input[type="number"], .form-container input[type="email"], .form-container input[type="url"], .form-container input[type="search"], .form-container input[type="tel"], .form-container input[type="color"], .form-container .form-cell-value{
        max-width: 65%;
    }
    .form-container .form-cell-value.form-cell-full{
        max-width: 100%;
    }
    .form-container textarea[cols]{
        width: 65%;
    }
}
@media screen and (max-width: 480px) {
    .form-cell .label, .subform-cell .label {
        width:auto;
        max-width: 90%;
        float:none;
    }
    .form-container textarea, .form-container input[type="text"], .form-container input[type="password"], .form-container input[type="datetime"], .form-container input[type="datetime-local"], .form-container input[type="date"], .form-container input[type="month"], .form-container input[type="time"], .form-container input[type="week"], .form-container input[type="number"], .form-container input[type="email"], .form-container input[type="url"], .form-container input[type="search"], .form-container input[type="tel"], .form-container input[type="color"], .form-container .form-cell-value{
        max-width: 90%;
    }
    .form-container textarea[cols]{
        width: 90%;
    }
}
.form-cell .tablesaw thead tr:first-child th,
.subform-cell .tablesaw thead tr:first-child th {
    padding-top: 3px;
    padding-bottom: 3px;
}
.form-cell .tablesaw-stack tbody tr,
.subform-cell  .tablesaw-stack tbody tr {
    border-bottom: 0;
}
span.tablesaw-cell-content {
    padding: 0;
}
@media screen and (max-width: 39.9375em) {
    .form-cell table.tablesaw td, .form-cell table.tablesaw th, .subform-cell table.tablesaw td, .subform-cell table.tablesaw th {
        border:0;
    }
    .form-cell .tablesaw-stack tbody tr, .subform-cell .tablesaw-stack tbody tr {
        border: 1px solid #dfdfdf;
    }
    .form-cell .tablesaw-stack .grid-action-cell, .subform-cell .tablesaw-stack .grid-action-cell{
        text-align: right;
    }
}

@media print {
    .tablesaw-cell-label { display:none;}
    table tr td p {margin:0 !important;}
}
