* {
    font-family: PT Sans,Arial,serif;
    font-size: 13px;
}

body, ul{
    margin:0px;
    padding:0px;
}

#page{
    width:960px;
    margin: 0 auto;
    border-left:1px dotted gray;
    border-right:1px dotted gray;
}

#header, #main, #footer{
    border-bottom:1px dotted gray;
}

#navigation{
    border-right:1px dotted gray;
    width:209px;
    float:left;
    min-height:600px;
}

#content{
    width:750px;
    float:left;
}

.embeded #content {
    margin: 0px;
    padding: 0px;
}

.category-label{
    width:100%;
    float:left;
}

.menu-container{
    min-height:20px;
}

.menu-link {
    cursor: pointer;
}

#header-info{
    margin:0 50px 10px;
}

#header-name span{
    font-size:24px;
    font-weight:bold;
}

#header-message{
    margin:20px 50px 5px;
}

#header-welcome-message{
    float:left;
    width:500px;
}

#header-logout-text{
    float:right;
    text-align:right;
    width:200px;
}

#footer-message{
    padding:10px 50px;
}

#footer .footer-mobile-link {
    display: inline-block;
    padding: 10px;
}

body.embeded #page{
    width:100%;
    border: none;
}

body.embeded #header,
body.embeded #footer,
body.embeded #navigation{
    display:none;
}

body.embeded #content{
    float:left;
    width:100%;
}

.clear{
    clear:both;
}

#page #form-canvas {
    border: none;
    margin: 0px;
    padding: 0px;
}

body.rtl{
    direction:rtl;
}

body.rtl #header-logout-text {
    float: left;
    text-align: left;
}

body.rtl #header-welcome-message {
    float: right;
}

body.rtl #navigation {
    border-right:0;
    border-left: 1px dotted gray;
    float: right;
}

body.rtl #content {
    float: right;
}

.print-button{
    background: transparent url("../images/v3/action_print.gif") 0 0 no-repeat;
    padding-left:20px;
    display:inline-block;
    float:right;
    height:16px;
}
#main-action-help {
    display: block;
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin: 5px;
    position: absolute;
    right: 5px;
}

body #ui-datepicker-div {
    display:none;
}

#preview-label {
    box-sizing: initial;
    position: fixed;
    top: 75px;
    right: -225px;
    width: 230px;
    padding: 10px 210px;
    line-height: 26px;
    font-size: 24px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'trebuchet ms', verdana, arial, sans-serif;
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(170, 170, 170);
    z-index: 3000;
    opacity: 0.5;
    -moz-transform: rotate(45deg);  /* FF3.5/3.6 */
    -o-transform: rotate(45deg);  /* Opera 10.5 */
    -webkit-transform: rotate(45deg);  /* Saf3.1+ */
    transform: rotate(45deg);
    filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476)"; /* IE8 */
}
#preview-label.ie {
    top: -60px;
    right: -150px;
    width: 400px;
    opacity: 1;
    filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476) progid:DXImageTransform.Microsoft.Alpha(Opacity=50); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476) progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE8 */
    zoom: 1;
}
#preview-label.testing {
    background-color: red;
    opacity: 1;
}
#preview-label.testing a {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -140px;
    margin-top: -15px;
}
.systemAlert{
    background:#FFFFD6;
    position:relative;
    padding:10px 15px;
    z-index:7;
}
.systemAlertClose{
    position:absolute;
    top:10px;
    right:10px;
    cursor:pointer;
}
.systemAlertMessage {
    display:inline-block;
    margin-right:30px;
}
.policies {
    color: #999;
    font-size: 11px;
    line-height: 12px;
    padding: 0 0 10px 10px;
}
.policies > span{
    display:block;
}
.form-errors, .form-error {
    color: red;
    font-weight: normal;
}
body .ui-dialog {
    border: 0;
    border-radius: 3px !important;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.5);
    z-index: 10001;
}
body .ui-dialog .ui-dialog-content {
    padding: 0 !important;
    overflow: hidden !important;
}
body .ui-dialog-titlebar{
    position: absolute !important;
    top: 0;
    right: 0;
    height: 0px !important;
    width: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
    border:0;
    z-index: 10001;
}
body .ui-button-text {
    display:none;
}
body .ui-dialog-titlebar-close{
    top: -4px !important;
    right: -11px !important;
    border: 0 !important;
    border-radius: 50% !important;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background: #000000 !important;
    opacity: 0.7;
    display: block;
    overflow: hidden;
    width: 25px !important;
    height: 25px !important;
}
body .ui-dialog-titlebar-close:before {
    display: none !important;
}
body .ui-dialog .ui-dialog-titlebar-close span {
    margin-left: -9px;
    line-height: 13px;
}
body .ui-icon-closethick{
    background: transparent !important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-weight: 900;
    text-indent: unset !important;
    font-size: 20px;
    width: 20px !important;
    height: 20px !important;
    color:#fff !important;
}
body .ui-icon-closethick:hover {
    color: #ccc !important;
}
body .ui-icon-closethick:before{
    content: 'x';
}
body.popupBody #main-body-header {
    background: #37474F;
    color: #fff;
    padding: 15px;
    position: fixed;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;
}
body.popupBody #main-body-header #main-action-help{
    position: absolute;
    right: 30px;
    top:15px;
}
body.popupBody #main-body-content {
    padding: 20px 15px;
    overflow: auto !important;
}
body .ui-widget-overlay {
    height: 1000%;
}
body .ui-front {
    z-index: 500;
}
.ui-html .ui-welcome {
    width: 80%;
    margin: auto;
}
.ui-html .ui-welcome .icon {
    margin-right: 20px; 
    margin-bottom: 20px; 
    float: left; 
    clear: left;
}
.stop-scrolling {
    height: 100%;
    overflow: hidden;
}
input[type="button"], input[type="submit"], input[type="reset"] {
  -webkit-appearance: button;
}
.rtl .dataList th.dataListAlignRight,
.dataList th.dataListAlignLeft,
.rtl .dataList td.dataListAlignRight,
.dataList td.dataListAlignLeft {
    text-align: left;
}
.rtl .dataList th.dataListAlignLeft,
.dataList th.dataListAlignRight,
.rtl .dataList td.dataListAlignLeft,
.dataList td.dataListAlignRight {
    text-align: right;
}
.rtl .dataList th.dataListAlignCenter,
.dataList th.dataListAlignCenter,
.rtl .dataList td.dataListAlignCenter,
.dataList td.dataListAlignCenter {
    text-align: center;
}
.rowCount:before {content: "("; display: inline-block;}
.rowCount:after {content: ")"; display: inline-block;}
#jqueryDialogDiv {overflow: hidden;}
@media print {    
    a[href]:after { content: none !important; }
    img[src]:after { content: none !important; }
    #adminControl {display:none !important;}
}

@media screen and (max-width:680px) {
    .ui-dialog {
        max-width: 95%;
    }
}
