body.rtl{
    direction:rtl;
}
.print-button{
    background: transparent url("../images/v3/action_print.gif") 0 0 no-repeat;
    padding-left:20px;
    display:inline-block;
    float:right;
    height:16px;
}
#main-action-help {
    background: url(../images/v3/console/icn_form_help.png) 0 0 no-repeat; 
    display: block;
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin: 5px;
    position: absolute;
    right: 5px;
}
body #ui-datepicker-div {
    display:none;
}
#preview-label {
    position: fixed;
    top: 75px;
    right: -225px;
    width: 600px;
    padding: 10px;
    font-size: 24px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'trebuchet ms', verdana, arial, sans-serif;
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(170, 170, 170);
    z-index: 500;
    opacity: 0.5;
    -moz-transform: rotate(45deg);  /* FF3.5/3.6 */
    -o-transform: rotate(45deg);  /* Opera 10.5 */
    -webkit-transform: rotate(45deg);  /* Saf3.1+ */
    transform: rotate(45deg);
    filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476)"; /* IE8 */
}
#preview-label.ie {
    top: -60px;
    right: -150px;
    width: 400px;
    opacity: 1;
    filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476) progid:DXImageTransform.Microsoft.Alpha(Opacity=50); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476) progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE8 */
    zoom: 1;
}
.systemAlert{
    background:#FFFFD6;
    position:relative;
    padding:10px 15px;
    z-index:7;
}
.systemAlertClose{
    position:absolute;
    top:10px;
    right:10px;
    cursor:pointer;
}
.systemAlertMessage {
    display:inline-block;
    margin-right:30px;
}
.policies {
    color: #999;
    font-size: 11px;
    line-height: 12px;
    padding: 0 0 10px 10px;
}
.policies > span{
    display:block;
}
.form-errors, .form-error {
    color: red;
    font-weight: normal;
}
body .ui-dialog .ui-dialog-titlebar {
    padding: 0px;
    background: none;
}
body .ui-dialog .ui-dialog-titlebar-close span {
    margin: -9px;
}
body .ui-dialog .ui-dialog-content {
    padding: 5px;
}
body .ui-widget-overlay {
    height: 1000%;
}
.stop-scrolling {
    height: 100%;
    overflow: hidden;
}
input[type="button"], input[type="submit"], input[type="reset"] {
  -webkit-appearance: button;
}
a {
    cursor: pointer;
}