* {
    font-family: PT Sans,Arial,serif;
    font-size: 13px;
}

body, ul{
    margin:0px;
    padding:0px;
}

#page{
    width:960px;
    margin: 0 auto;
    border-left:1px dotted gray;
    border-right:1px dotted gray;
}

#header, #main, #footer{
    border-bottom:1px dotted gray;
}

#navigation{
    border-right:1px dotted gray;
    width:209px;
    float:left;
    min-height:600px;
}

#content{
    width:750px;
    float:left;
}

.embeded #content {
    margin: 0px;
    padding: 0px;
}

.category-label{
    width:100%;
    float:left;
}

.menu-container{
    min-height:20px;
}

.menu-link {
    cursor: pointer;
}

#header-info{
    margin:0 50px 10px;
}

#header-name span{
    font-size:24px;
    font-weight:bold;
}

#header-message{
    margin:20px 50px 5px;
}

#header-welcome-message{
    float:left;
    width:500px;
}

#header-logout-text{
    float:right;
    text-align:right;
    width:200px;
}

#footer-message{
    padding:10px 50px;
}

body.embeded #page{
    width:800px;
    border: none;
}

body.embeded #header,
body.embeded #footer,
body.embeded #navigation{
    display:none;
}

body.embeded #content{
    float:left;
    width:100%;
}

.clear{
    clear:both;
}

#page #form-canvas {
    border: none;
    margin: 0px;
    padding: 0px;
}

body.rtl{
    direction:rtl;
}

body.rtl #header-logout-text {
    float: left;
    text-align: left;
}

body.rtl #header-welcome-message {
    float: right;
}

body.rtl #navigation {
    border-right:0;
    border-left: 1px dotted gray;
    float: right;
}

body.rtl #content {
    float: right;
}

.print-button{
    background: transparent url("../images/v3/action_print.gif") 0 0 no-repeat;
    padding-left:20px;
    display:inline-block;
    float:right;
    height:16px;
}
#main-action-help {
    background: url(../images/v3/console/icn_form_help.png) 0 0 no-repeat; 
    display: block;
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin: 5px;
    position: absolute;
    right: 5px;
}

body #ui-datepicker-div {
    display:none;
}

#preview-label {
    position: fixed;
    top: 50px;
    right: 50px;
    font-size: 40px;
    color: white;
    opacity: 0.5;
    z-index: 500;
    background: #222;
    border-radius: 10px;
    padding: 20px;
}
