/* Will act as a default styling based on the new design */
/* Theme extending from this css, can override this by re-declaring the already available variable or create a new one(optional) */
:root {
    --global-controlHeight: 40px;
    --global-iconSize: 14px;
    --global-lineHeight: 1.5714285714285714;
    --global-boxShadowSecondary: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    --global-borderRadius: 6px;
    --global-itemMarginBlock: 4px;
    --global-itemPaddingBlock: 5px;
    --global-itemPaddingInline: 50px;
    --global-headerHeight: 64px;
    --global-fontSize: 14px;
    --global-borderRadiusLG: 8px;
    --global-itemMarginInline: 8px;
    --global-headerPaddingInline: 20px;
    --global-footerPadding: 24px 50px;
    --global-padding: 16px;
    --global-itemHeight: 40px;
    --global-iconMarginInline: 10px;
    --jgt-btn-colorPrimary: var(--primaryColor5, #1677FF);
    --jgt-btn-contentFontSize: 14px;
    --jgt-btn-borderColorDisabled: #d9d9d9;
    --jgt-btn-dangerColor: #FFFFFF;
    --jgt-btn-defaultActiveBg: #FFFFFF;
    --jgt-btn-defaultActiveBorderColor: var(--primaryColor1, #0958D9);
    --jgt-btn-defaultActiveColor: var(--primaryColor1, #0958D9);
    --jgt-btn-defaultBg: #FFFFFF;
    --jgt-btn-defaultBorderColor: #D9D9D9;
    --jgt-btn-defaultColor: rgba(0, 0, 0, 0.88);
    --jgt-btn-defaultHoverBg: #FFFFFF;
    --jgt-btn-defaultHoverBorderColor: var(--primaryColor3, #4096FF);
    --jgt-btn-defaultHoverColor: var(--primaryColor3, #4096FF);
    --jgt-btn-linkHoverBg: #FFFFFF;
    --jgt-btn-primaryColor: #FFFFFF;
    --jgt-btn-colorBgContainerDisabled: rgba(0, 0, 0, 0.04);
    --jgt-btn-colorBorder: #D9D9D9;
    --jgt-btn-colorError: #ff4d4f;
    --jgt-btn-colorErrorActive: #D9363E;
    --jgt-btn-colorErrorHover: #ff7875;
    --jgt-btn-colorLink: var(--primaryColor5, #1677ff);
    --jgt-btn-colorLinkActive: var(--primaryColor5, #0958d9);
    --jgt-btn-colorLinkHover: var(--primaryColor3, #69b1ff);
    --jgt-btn-colorPrimaryActive: var(--primaryColor5, #0958d9);
    --jgt-btn-colorPrimaryHover: var(--primaryColor3, #4096ff);
    --jgt-btn-colorTextDisabled: rgba(0, 0, 0, 0.25);
    --jgt-btn-contentFontSize: 14px;
    --jgt-btn-contentLineHeight: 1;
    --jgt-btn-paddingBlock: 8px;
    --jgt-btn-paddingInline: 15px;
    --jgt-btn-controlHeight: 32px;
    --jgt-btn-borderRadius: 6px;
    --jgt-btn-fontWeight: 400;
    --jgt-btn-dangerShadow: 0 2px 0 rgba(255, 38, 5, 0.06);
    --jgt-btn-defaultShadow: 0 2px 0 rgba(0, 0, 0, 0.02);
    --jgt-btn-primaryShadow: 0 2px 0 rgba(5, 145, 255, 0.1);
    --jgt-tpgh-colorLinkHover: var(--primaryColor3, #69B1FF);
    --jgt-tpgh-colorText: rgba(0, 0, 0, 0.88);
    --jgt-tpgh-lineHeightHeading2: 1.2666666666666666;
    --jgt-tpgh-fontWeightStrong: 600;
    --jgt-tpgh-lineHeightHeading1: 1.2105263157894737;
    --jgt-tpgh-colorTextDescription: rgba(0, 0, 0, 0.45);
    --jgt-tpgh-fontSizeHeading1: 38px;
    --jgt-tpgh-fontFamilyCode: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    --jgt-tpgh-lineHeightHeading5: 1.5;
    --jgt-tpgh-lineHeightHeading4: 1.4;
    --jgt-tpgh-lineHeightHeading3: 1.3333333333333333;
    --jgt-tpgh-colorLink: var(--primaryColor5, #1677FF);
    --jgt-tpgh-titleMarginTop: 0px;
    --jgt-tpgh-colorTextDisabled: rgba(0, 0, 0, 0.25);
    --jgt-tpgh-fontSizeHeading3: 24px;
    --jgt-tpgh-fontSizeHeading2: 30px;
    --jgt-tpgh-fontSizeHeading5: 16px;
    --jgt-tpgh-fontSizeHeading4: 20px;
    --jgt-tpgh-colorLinkActive: var(--primaryColor5, #0958D9);
    --jgt-tpgh-fontSize: 14px;
    --jgt-tpgh-lineHeight: 1.5714285714285714;
    --jgt-tpgh-colorTextHeading: rgba(0, 0, 0, 0.88);
    --jgt-tpgh-titleMarginBottom: 0.5em;
    --jgt-breadcrumb-separatorColor: rgba(0, 0, 0, 0.45);
    --jgt-breadcrumb-colorText: rgba(0, 0, 0, 0.88);
    --jgt-breadcrumb-separatorMargin: 4px;
    --jgt-breadcrumb-linkColor: rgba(0, 0, 0, 0.45);
    --jgt-breadcrumb-fontFamily: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --jgt-breadcrumb-bgColor: transparent;
    --jgt-breadcrumb-borderRadius: 4px;
    --jgt-breadcrumb-colorBgTextHover: rgba(0, 0, 0, 0.06);
    --jgt-breadcrumb-linkHoverColor: rgba(0, 0, 0, 0.88);
    --jgt-breadcrumb-fontSize: 14px;
    --jgt-breadcrumb-lineHeight: 1.5714285714285714;
    --jgt-breadcrumb-iconFontSize: 14px;
    --jgt-breadcrumb-padding: 4px;
    --jgt-breadcrumb-fontWeight: 400;
    --jgt-breadcrumb-paddingBlockStart: 18px;
    --global-sidebarWidth: 280px;
    --global-contentWidth: 1920px;
    --global-controlHeight: 40px;
    --global-contentPaddingInline: 40px;
    --global-contentPaddingInlineSM: 20px;
    --global-itemMarginInline: 4px;
    --global-headerPaddingInline: 20px;
    --global-iconSize: 14px;
    --global-lineHeight: 1.5714285714285714;
    --global-footerPadding: 16px 50px;
    --global-footerHeight: 54px;
    --global-itemMarginBlock: 4px;
    --global-headerHeight: 64px;
    --global-fontSize: 14px;
    --global-itemHeight: 40px;
    --global-iconMarginInline: 10px;
    --global-borderRadius: 6px;
    --global-boxShadowSecondary: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    --global-borderRadiusLG: 12px;
    --jgt-form-subform-padding: 20px;
    --jgt-card-padding: 24px;
    --jgt-card-colorText: rgba(0, 0, 0, 0.88);
    --jgt-card-borderRadiusLG: 12px;
    --jgt-card-colorBgContainer: #FFFFFF;
    --jgt-card-fontWeightStrong: 600;
    --jgt-card-colorTextDescription: rgba(0, 0, 0, 0.45);
    --jgt-card-boxShadowCard: ;
    --jgt-card-fontSizeLG: 14px;
    --jgt-card-lineWidth: 1px;
    --jgt-card-headerBg: #ffffff;
    --jgt-card-headerFontSize: 16px;
    --jgt-card-fontHeight: 22;
    --jgt-card-lineType: solid;
    --jgt-card-colorBorderSecondary: #F0F0F0;
    --jgt-card-boxShadowTertiary: ;
    --jgt-card-lineHeight: 1.5714285714285714;
    --jgt-card-colorTextHeading: rgba(0, 0, 0, 0.88);
    --jgt-card-headerHeight: 56px;
    --jgt-card-colorTextTitle: rgba(0, 0, 0, 0.88);
    --jgt-card-colorTextSubtitle: rgba(0, 0, 0, 0.88);
    --jgt-table-borderColor: #CED4DA;
    --jgt-table-rowHoverBg: #FAFAFA;
    --jgt-table-colorText: rgba(0, 0, 0, 0.88);
    --jgt-table-cellPaddingInline: 16px;
    --jgt-table-colorBgContainer: #FFFFFF;
    --jgt-table-fontWeightStrong: 600;
    --jgt-table-headerSplitColor: #CED4DA;
    --jgt-table-headerSortHoverBg: #F0F0F0;
    --jgt-table-headerSortActiveBg: #F0F0F0;
    --jgt-table-rowSelectedBg: var(--primaryColor2, #E6F4FF);
    --jgt-table-lineWidth: 1px;
    --jgt-table-headerColor: rgba(0, 0, 0, 0.88);
    --jgt-table-headerBg: #F0F0F0;
    --jgt-table-borderRadius: 6px;
    --jgt-table-cellPaddingBlock: 4px;
    --jgt-table-lineType: solid;
    --jgt-table-headerBorderRadius: 8px;
    --jgt-table-lineHeight: 1.5714285714285714;
    --jgt-table-cellFontSize: 14px;
    --jgt-cb-colorPrimary: var(--primaryColor5, #1677FF);
    --jgt-cb-padding: 8px;
    --jgt-cb-colorPrimaryHover: var(--primaryColor3, #4096FF);
    --jgt-cb-colorText: rgba(0, 0, 0, 0.88);
    --jgt-cb-borderRadiusSM: 4px;
    --jgt-cb-colorBgContainer: #FFFFFF;
    --jgt-cb-controlInteractiveSize: 16px;
    --jgt-cb-colorBgContainerDisabled: rgba(0, 0, 0, 0.04);
    --jgt-cb-colorBorder: #D9D9D9;
    --jgt-cb-colorWhite: #FFFFFF;
    --jgt-cb-lineWidth: 1px;
    --jgt-cb-colorPrimaryBorder: var(--primaryColor5, #91CAFF);
    --jgt-cb-colorTextDisabled: rgba(0, 0, 0, 0.25);
    --jgt-cb-lineType: solid;
    --jgt-cb-fontSize: 14px;
    --jgt-cb-lineHeight: 1.5714285714285714;
    --jgt-radio-colorPrimary: var(--primaryColor5, #1677FF);
    --jgt-radio-padding: 8px;
    --jgt-radio-colorPrimaryHover: var(--primaryColor3, #4096FF);
    --jgt-radio-colorText: rgba(0, 0, 0, 0.88);
    --jgt-radio-colorBgContainer: #FFFFFF;
    --jgt-radio-dotSize: 8px;
    --jgt-radio-colorBgContainerDisabled: rgba(0, 0, 0, 0.04);
    --jgt-radio-colorBorder: #D9D9D9;
    --jgt-radio-colorWhite: #FFFFFF;
    --jgt-radio-lineWidth: 1px;
    --jgt-radio-colorPrimaryBorder: var(--primaryColor5, #91CAFF);
    --jgt-radio-colorTextDisabled: rgba(0, 0, 0, 0.25);
    --jgt-radio-radioSize: 16px;
    --jgt-radio-lineType: solid;
    --jgt-radio-fontSize: 14px;
    --jgt-radio-lineHeight: 1.5714285714285714;
    --jgt-pg-colorPrimary: var(--primaryColor5, #1677FF);
    --jgt-pg-colorPrimaryHover: var(--primaryColor3, #4096FF);
    --jgt-pg-colorText: rgba(0, 0, 0, 0.88);
    --jgt-pg-colorBgContainer: #FFFFFF;
    --jgt-pg-fontWeightStrong: 600;
    --jgt-pg-itemActiveColorDisabled: #BFBFBF;
    --jgt-pg-lineWidth: 1px;
    --jgt-pg-colorTextDisabled: #BFBFBF;
    --jgt-pg-borderRadius: 6px;
    --jgt-pg-itemActiveBgDisabled: #D9D9D9;
    --jgt-pg-lineType: solid;
    --jgt-pg-colorBgTextHover: #F0F0F0;
    --jgt-pg-fontSize: 14px;
    --jgt-pg-itemSize: 32px;
    --jgt-pg-controlHeight: 32px;
    --jgt-pg-itemActiveBg: #FFFFFF;
    --jgt-pg-padding: 6px;
    --jgt-pg-margin: 8px;
    --jgt-input-activeBg: #FFFFFF;
    --jgt-input-hoverBg: #FFFFFF;
    --jgt-input-colorText: rgba(0, 0, 0, 0.88);
    --jgt-input-inputFontSize: 14px;
    --jgt-input-paddingInline: 11px;
    --jgt-input-activeShadow: 0 0 0 2px rgba(5, 145, 255, 0.1);
    --jgt-input-colorBgContainer: #FFFFFF;
    --jgt-input-colorBgContainerDisabled: #F5F5F5;
    --jgt-input-colorTextDescription: rgba(0, 0, 0, 0.45);
    --jgt-input-colorBorder: #D9D9D9;
    --jgt-input-colorIconHover: rgba(0, 0, 0, 0.88);
    --jgt-input-paddingBlock: 4px;
    --jgt-input-colorIcon: rgba(0, 0, 0, 0.45);
    --jgt-input-colorTextDisabled: rgba(0, 0, 0, 0.25);
    --jgt-input-borderRadius: 6px;
    --jgt-input-activeBorderColor: var(--primaryColor5, #1677FF);
    --jgt-input-hoverBorderColor: var(--primaryColor3, #4096FF);
    --jgt-input-lineType: solid;
    --jgt-input-colorTextPlaceholder: #1F1F1F80;
    --jgt-input-fontSizeIcon: 12px;
    --jgt-input-lineHeight: 1.5714285714285714;
    --jgt-input-controlHeight: 32px;
    --jgt-input-lineWidth: 1px;
    --jgt-input-username-disabled: #E4E4E4;
    --jgt-form-colorText: rgba(0, 0, 0, 0.88);
    --jgt-form-labelFontSize: 14px;
    --jgt-form-colorTextDescription: rgba(0, 0, 0, 0.45);
    --jgt-form-colorBorder: #F0F0F0;
    --jgt-form-labelHeight: auto;
    --jgt-form-lineWidth: 1px;
    --jgt-form-labelRequiredMarkColor: #FF4D4F;
    --jgt-form-itemMarginBottom: 24px;
    --jgt-form-controlOutline: rgba(5, 145, 255, 0.1);
    --jgt-form-lineType: solid;
    --jgt-form-fontSize: 14px;
    --jgt-form-lineHeight: 1.5714285714285714;
    --jgt-form-controlOutlineWidth: 2px;
    --jgt-form-labelMarginInlineEnd: 16px;
    --jgt-form-labelWidth: 23.48%;
    --jgt-form-labelFloat: left;
    --jgt-form-labelAlign: end;
    --jgt-form-fontWeight: 400;
    --jgt-form-fieldWidth: 76.52%;
    --jgt-form-fieldFloat: left;
    --jgt-form-colorBgContainer: #ffffff;
    --jgt-form-headerBg: #ffffff;
    --jgt-form-colorTextHeading: rgba(0, 0, 0, 0.88);
    --jgt-form-headerFontSize: 16px;
    --jgt-form-headerHeight: 56px;
    --jgt-form-fontHeight: 22;
    --jgt-form-borderRadiusLG: 8px;
    --jgt-form-headerFontWeight: 600;
    --jgt-form-headerPaddingInline: 24px;
    --jgt-form-sectionPaddingBottom: 20px;
    --jgt-form-marginBottom: 10px;
    --jgt-list-avatarMarginRight: 16px;
    --jgt-list-contentBg: #FFFFFF;
    --jgt-list-colorText: rgba(0, 0, 0, 0.88);
    --jgt-list-itemPadding: 12px 20px;
    --jgt-list-borderRadius: 8px;
    --jgt-list-lineType: solid;
    --jgt-list-descriptionFontSize: 14px;
    --jgt-list-colorTextDescription: rgba(0, 0, 0, 0.45);
    --jgt-list-fontSize: 14px;
    --jgt-list-lineHeight: 1.5714285714285714;
    --jgt-list-colorBorder: rgba(5, 5, 5, 0.06);
    --jgt-list-lineWidth: 1px;
    --jgt-tab-itemColor: #404040;
    --jgt-tab-colorBgContainer: #FFFFFF;
    --jgt-tab-colorBorder: #F0F0F0;
    --jgt-tab-cardBg: #F0F0F0;
    --jgt-tab-cardHeight: 40px;
    --jgt-tab-cardGutter: 2px;
    --jgt-tab-borderRadius: 6px;
    --jgt-tab-titleFontSize: 14px;
    --jgt-tab-itemHoverColor: var(--primaryColor3, #4096FF);
    --jgt-tab-lineType: solid;
    --jgt-tab-lineHeight: 1.5714285714285714;
    --jgt-tab-horizontalMargin: 0 0 16px 0;
    --jgt-tab-itemSelectedColor: var(--primaryColor5, #1677FF);
    --jgt-tab-cardPadding: 8px 16px;
    --jgt-tab-fontWeight: 500;
    --jgt-wizard-colorPrimary: var(--primaryColor5, #1677FF);
    --jgt-wizard-titleLineHeight: 16px;
    --jgt-wizard-colorText: rgba(0, 0, 0, 0.88);
    --jgt-wizard-colorSplit: rgba(5, 5, 5, 0.06);
    --jgt-wizard-borderRadius: 50%;
    --jgt-wizard-lineType: solid;
    --jgt-wizard-colorTextDescription: rgba(0, 0, 0, 0.45);
    --jgt-wizard-fontSize: 12px;
    --jgt-wizard-lineHeight: 1.5714285714285714;
    --jgt-wizard-colorTextLightSolid: #FFFFFF;
    --jgt-wizard-backgroundColorPrev: #28a644;
    --jgt-wizard-backgroundColorCurrent: #e68710;
    --jgt-wizard-backgroundColorNext: rgba(255, 255, 255, 0);
    --jgt-wizard-controlHeight: 32px;
    --jgt-wizard-lineWidth: 1px;
    --jgt-acc-contentBg: #ffffff;
    --jgt-acc-colorText: rgba(0, 0, 0, 0.88);
    --jgt-acc-headerPadding: 12px 16px;
    --jgt-acc-headerBg: #F0F0F0;
    --jgt-acc-headerActiveBg: #404040;
    --jgt-acc-borderRadius: 8px;
    --jgt-acc-contentPadding: 0px 16px;
    --jgt-acc-lineType: solid;
    --jgt-acc-fontSize: 14px;
    --jgt-acc-lineHeight: 1.5714285714285714;
    --jgt-acc-colorTextHeading: rgba(0, 0, 0, 0.88);
    --jgt-acc-colorActiveTextHeading: #FFFFFF;
    --jgt-acc-colorBorder: #d9d9d9;
    --jgt-acc-lineWidth: 1px;
    --jgt-dd-controlItemBgHover: rgba(0, 0, 0, 0.04);
    --jgt-dd-paddingBlock: 5px;
    --jgt-dd-padding: 4px;
    --jgt-dd-colorText: rgba(0, 0, 0, 0.88);
    --jgt-dd-boxShadowSecondary: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    --jgt-dd-borderRadius: 8px;
    --jgt-dd-controlPaddingHorizontal: 12px;
    --jgt-dd-fontSize: 14px;
    --jgt-dd-lineHeight: 1.5714285714285714;
    --jgt-dd-colorBgElevated: #ffffff;
    --jgt-upload-colorPrimary: var(--primaryColor5, #1677ff);
    --jgt-upload-colorText: rgba(0, 0, 0, 0.88);
    --jgt-upload-borderRadiusLG: 8px;
    --jgt-upload-colorError: #ff4d4f;
    --jgt-upload-colorTextDescription: rgba(0, 0, 0, 0.45);
    --jgt-upload-colorBorder: #d9d9d9;
    --jgt-upload-controlHeightLG: 32px;
    --jgt-upload-lineWidth: 1.5px;
    --jgt-upload-controlItemBgHover: rgba(0, 0, 0, 0.04);
    --jgt-upload-lineType: dashed;
    --jgt-upload-colorFillAlter: rgba(0, 0, 0, 0.02);
    --jgt-upload-fontSize: 14px;
    --jgt-upload-lineHeight: 1.5714285714285714;
    
    --jgt-dropdown-icon: url(../images/base_dropdown_image.svg);
}

/* Part of Joget Design System */
:root,
[data-bs-theme=light] {
  --jgt-blue: #0d6efd;
  --jgt-indigo: #6610f2;
  --jgt-purple: #6f42c1;
  --jgt-pink: #d63384;
  --jgt-red: #dc3545;
  --jgt-orange: #fd7e14;
  --jgt-yellow: #ffc107;
  --jgt-green: #198754;
  --jgt-teal: #20c997;
  --jgt-cyan: #0dcaf0;
  --jgt-black: #000;
  --jgt-white: #fff;
  --jgt-gray: #6c757d;
  --jgt-gray-dark: #343a40;
  --jgt-gray-100: #f8f9fa;
  --jgt-gray-200: #e9ecef;
  --jgt-gray-300: #dee2e6;
  --jgt-gray-400: #ced4da;
  --jgt-gray-500: #adb5bd;
  --jgt-gray-600: #6c757d;
  --jgt-gray-700: #495057;
  --jgt-gray-800: #343a40;
  --jgt-gray-900: #212529;
  --jgt-primary: #0d6efd;
  --jgt-secondary: #6c757d;
  --jgt-success: #198754;
  --jgt-info: #0dcaf0;
  --jgt-warning: #ffc107;
  --jgt-danger: #dc3545;
  --jgt-light: #f8f9fa;
  --jgt-dark: #212529;
  --jgt-primary-rgb: 13, 110, 253;
  --jgt-secondary-rgb: 108, 117, 125;
  --jgt-success-rgb: 25, 135, 84;
  --jgt-info-rgb: 13, 202, 240;
  --jgt-warning-rgb: 255, 193, 7;
  --jgt-danger-rgb: 220, 53, 69;
  --jgt-light-rgb: 248, 249, 250;
  --jgt-dark-rgb: 33, 37, 41;
  --jgt-primary-text-emphasis: #052c65;
  --jgt-secondary-text-emphasis: #2b2f32;
  --jgt-success-text-emphasis: #0a3622;
  --jgt-info-text-emphasis: #055160;
  --jgt-warning-text-emphasis: #664d03;
  --jgt-danger-text-emphasis: #58151c;
  --jgt-light-text-emphasis: #495057;
  --jgt-dark-text-emphasis: #495057;
  --jgt-primary-bg-subtle: #cfe2ff;
  --jgt-secondary-bg-subtle: #e2e3e5;
  --jgt-success-bg-subtle: #d1e7dd;
  --jgt-info-bg-subtle: #cff4fc;
  --jgt-warning-bg-subtle: #fff3cd;
  --jgt-danger-bg-subtle: #f8d7da;
  --jgt-light-bg-subtle: #fcfcfd;
  --jgt-dark-bg-subtle: #ced4da;
  --jgt-primary-border-subtle: #9ec5fe;
  --jgt-secondary-border-subtle: #c4c8cb;
  --jgt-success-border-subtle: #a3cfbb;
  --jgt-info-border-subtle: #9eeaf9;
  --jgt-warning-border-subtle: #ffe69c;
  --jgt-danger-border-subtle: #f1aeb5;
  --jgt-light-border-subtle: #e9ecef;
  --jgt-dark-border-subtle: #adb5bd;
  --jgt-white-rgb: 255, 255, 255;
  --jgt-black-rgb: 0, 0, 0;
  --jgt-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --jgt-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --jgt-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --jgt-body-font-family: var(--jgt-font-sans-serif);
  --jgt-body-font-size: 1rem;
  --jgt-body-font-weight: 400;
  --jgt-body-line-height: 1.5;
  --jgt-body-color: #212529;
  --jgt-body-color-rgb: 33, 37, 41;
  --jgt-body-bg: #fff;
  --jgt-body-bg-rgb: 255, 255, 255;
  --jgt-emphasis-color: #000;
  --jgt-emphasis-color-rgb: 0, 0, 0;
  --jgt-secondary-color: rgba(33, 37, 41, 0.75);
  --jgt-secondary-color-rgb: 33, 37, 41;
  --jgt-secondary-bg: #e9ecef;
  --jgt-secondary-bg-rgb: 233, 236, 239;
  --jgt-tertiary-color: rgba(33, 37, 41, 0.5);
  --jgt-tertiary-color-rgb: 33, 37, 41;
  --jgt-tertiary-bg: #f8f9fa;
  --jgt-tertiary-bg-rgb: 248, 249, 250;
  --jgt-heading-color: inherit;
  --jgt-link-color: #0d6efd;
  --jgt-link-color-rgb: 13, 110, 253;
  --jgt-link-decoration: underline;
  --jgt-link-hover-color: #0a58ca;
  --jgt-link-hover-color-rgb: 10, 88, 202;
  --jgt-code-color: #d63384;
  --jgt-highlight-color: #212529;
  --jgt-highlight-bg: #fff3cd;
  --jgt-border-width: 1px;
  --jgt-border-style: solid;
  --jgt-border-color: #dee2e6;
  --jgt-border-color-translucent: rgba(0, 0, 0, 0.175);
  --jgt-border-radius: 0.375rem;
  --jgt-border-radius-sm: 0.25rem;
  --jgt-border-radius-lg: 0.5rem;
  --jgt-border-radius-xl: 1rem;
  --jgt-border-radius-xxl: 2rem;
  --jgt-border-radius-2xl: var(--jgt-border-radius-xxl);
  --jgt-border-radius-pill: 50rem;
  --jgt-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --jgt-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --jgt-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  --jgt-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  --jgt-focus-ring-width: 0.25rem;
  --jgt-focus-ring-opacity: 0.25;
  --jgt-focus-ring-color: rgba(13, 110, 253, 0.25);
  --jgt-form-valid-color: #198754;
  --jgt-form-valid-border-color: #198754;
  --jgt-form-invalid-color: #dc3545;
  --jgt-form-invalid-border-color: #dc3545;
  --jgt-popup-header-bg: #F0F0F0;
}

[data-bs-theme=dark] {
  color-scheme: dark;
  --jgt-body-color: #dee2e6;
  --jgt-body-color-rgb: 222, 226, 230;
  --jgt-body-bg: #212529;
  --jgt-body-bg-rgb: 33, 37, 41;
  --jgt-emphasis-color: #fff;
  --jgt-emphasis-color-rgb: 255, 255, 255;
  --jgt-secondary-color: rgba(222, 226, 230, 0.75);
  --jgt-secondary-color-rgb: 222, 226, 230;
  --jgt-secondary-bg: #343a40;
  --jgt-secondary-bg-rgb: 52, 58, 64;
  --jgt-tertiary-color: rgba(222, 226, 230, 0.5);
  --jgt-tertiary-color-rgb: 222, 226, 230;
  --jgt-tertiary-bg: #2b3035;
  --jgt-tertiary-bg-rgb: 43, 48, 53;
  --jgt-primary-text-emphasis: #6ea8fe;
  --jgt-secondary-text-emphasis: #a7acb1;
  --jgt-success-text-emphasis: #75b798;
  --jgt-info-text-emphasis: #6edff6;
  --jgt-warning-text-emphasis: #ffda6a;
  --jgt-danger-text-emphasis: #ea868f;
  --jgt-light-text-emphasis: #f8f9fa;
  --jgt-dark-text-emphasis: #dee2e6;
  --jgt-primary-bg-subtle: #031633;
  --jgt-secondary-bg-subtle: #161719;
  --jgt-success-bg-subtle: #051b11;
  --jgt-info-bg-subtle: #032830;
  --jgt-warning-bg-subtle: #332701;
  --jgt-danger-bg-subtle: #2c0b0e;
  --jgt-light-bg-subtle: #343a40;
  --jgt-dark-bg-subtle: #1a1d20;
  --jgt-primary-border-subtle: #084298;
  --jgt-secondary-border-subtle: #41464b;
  --jgt-success-border-subtle: #0f5132;
  --jgt-info-border-subtle: #087990;
  --jgt-warning-border-subtle: #997404;
  --jgt-danger-border-subtle: #842029;
  --jgt-light-border-subtle: #495057;
  --jgt-dark-border-subtle: #343a40;
  --jgt-heading-color: inherit;
  --jgt-link-color: #6ea8fe;
  --jgt-link-hover-color: #8bb9fe;
  --jgt-link-color-rgb: 110, 168, 254;
  --jgt-link-hover-color-rgb: 139, 185, 254;
  --jgt-code-color: #e685b5;
  --jgt-highlight-color: #dee2e6;
  --jgt-highlight-bg: #664d03;
  --jgt-border-color: #495057;
  --jgt-border-color-translucent: rgba(255, 255, 255, 0.15);
  --jgt-form-valid-color: #75b798;
  --jgt-form-valid-border-color: #75b798;
  --jgt-form-invalid-color: #ea868f;
  --jgt-form-invalid-border-color: #ea868f;
}