.ql-container .ql-editor {
  width:100%;
  position: absolute;
  top:0;
  right:0;
}
.ql-container.ql-bubble .ql-editor {
    padding: 12px 15px;
}
.ql-container.ql-bubble .ql-editor.ql-blank::before{
    left:15px;
    right:15px;
}
.ql-bubble .ql-tooltip-editor input[type=text]{
    max-width: 100%;
}
body.rtl .ql-font .ql-picker-label,
body.rtl .ql-header .ql-picker-label {
    text-align: left;
}
svg {
    vertical-align: baseline;
}